<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>$10 Savings Card</title>
</head>

<body>
<div id="container" style="width:600px; margin: auto; padding: 20px 0; position: relative; border-collapse:collapse; background-color:#FFF;">
  <table style="border-collapse:collapse; width:600px; margin:0; padding:0; border:none; background-color:#FFF;">
    	
        <tr>
            <td style="width:600px; background-color:#fff;">
                <img src="../../static/community/images/clock.jpg" width="75" height="75" alt="Don't wait. Offer ends in 24 hours." style="margin-left:263px;">
            </td>
        </tr>
        <tr>
            <td style="width:600px; background-color:#fff;">
                <p style="font-family:arial; font-weight:bold; font-size:28px; color:#414042; text-align:center; margin:0; margin-top:10px;">
Don't forget to save $10 <br>
at <!--business name needed -->Business Name!
                </p>
            </td>
        </tr>
        <tr>
            <td style="width:600px; background-color:#fff;">
                <p style="font-family:arial; color:#414042; font-size:18px; text-align:center; margin:0; padding-top:30px; margin-bottom:50px;">You recently downloaded the $10 Savings Card for <br>
<!-- need to get business name -->Business name. Just a reminder, make sure to <span style="font-weight:bold;">use this deal<br>
within the next 24 hours.</span> After 24 hours, this promotion <br>
will no longer be valid. Enjoy your visit, and <br>
thanks for staying local! 
                </p>
            </td>
        </tr>
        <tr>
            <td style="width:600px; background-color:#fff;">
                <img src="../../static/community/images/orangeDealsCard.jpg" width="600" height="150" alt="Orange Deals $10 off require a minimun purchase of either $30, $40, or $50.  Look for the colored dots to find the minimun amount.">
            </td>
        </tr>
        <tr>
            <td style="width:600px; background-color:#fff;">
                <p style="font-family:arial; color:#ED7324; font-size:32px; text-align:center; margin:0; padding-top:30px; margin-bottom:5px;">$10 off products/services at <!-- business name needed -->Business Name.<br>
<span style="font-size:16px; font-weight:bold;">valid for the next 24hrs when you spend the required minimun amount</span>
                </p>
            </td>
        </tr>
        <tr>
            <td style="width:600px; background-color:#fff;">
                <a href="#" style="text-decoration:none;"><div style="height:30px; width:250px; background-color:#EF5A24; margin-left:175px; margin-top:30px; margin-bottom:75px;"><p style="color:#FFF; text-align:center; font-family:Arial, Helvetica, sans-serif; padding-top:5px;">Go to My Profile</p></div></a>
            </td>
        </tr>
        <tr>
            <td style="width:600px; background-color:#fff; height:37px; margin:0; padding:0;"><img src="../../static/community/images/houses.jpg" width="182" height="37" align="right" style="margin-right:20px;"></td>
        </tr>
        <tr>
            <td style="width:600px; background-color:#ED7324; height:90px; margin:0; padding:0;"></td>
        </tr>
        <tr>
            <td style="width:600px; background-color:#2B3032; height:190px; margin:0; padding:0;"><a href="#" style="margin-left:263px;"><img src="../../static/community/images/FB.jpg" height="36" width="36" alt="follow us on Facebook"></a><a href="#"><img src="../../static/community/images/TW.jpg" width="36" height="36" alt="follow us on Twitter"></a><p style="font-family:arial; color:#fff; margin:0; padding:0; text-align:center; margin-top:20px;">This email was sent to you by Detour Maps<br>
6428 S Pulaski Rd Chicago, IL</p> <img src="../../static/community/images/DMapsEMGroup.jpg" width="250" height="40" alt="Detour Maps is a produced by Entire Marketing Group LLC" style="margin-top:20px; margin-left:175px;"></td>
        </tr>
    </table>
</div>
</body>
</html>
