<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>10 Visits</title>
</head>

<body>
<div id="container" style="width:600px; margin: auto; padding: 20px 0; position: relative; border-collapse:collapse; background-color:#FFF;">
    <table style="border-collapse:collapse; width:600px; margin:0; padding:0; border:none; background-color:#FFF;">
    	
        <tr>
            <td style="width:600px; background-color:#fff;">
                <img src="../../static/community/images/check.jpg" width="80" height="60" alt="10 visits icon" style="margin-left:260px; margin-bottom:30px;">
            </td>
        </tr>
        <tr>
            <td style="width:600px; background-color:#fff;">
                <p style="font-family:arial; font-weight:bold; font-size:28px; color:#414042; text-align:center; margin:0; margin-top:10px;"><!--customer name needed -->Manuel made a recent purchase<br>
at your business
                </p>
            </td>
        </tr>
        <tr>
            <td style="width:600px; background-color:#fff;">
                <p style="font-family:arial; color:#414042; font-size:18px; text-align:center; margin:0; padding-top:30px; margin-bottom:50px;">To view this customer's other recent visits and more <br>
information visit your Orange Deals profile.
                </p>
            </td>
        </tr>
        <tr>
            <td style="width:600px; background-color:#fff;">
                <a href="#" style="text-decoration:none;"><div style="height:30px; width:250px; background-color:#EF5A24; margin-left:175px; margin-top:30px; margin-bottom:75px;"><p style="color:#FFF; text-align:center; font-family:Arial, Helvetica, sans-serif; padding-top:5px;">Go to My Profile</p></div></a>
            </td>
        </tr>
        <tr>
            <td style="width:600px; background-color:#fff; height:37px; margin:0; padding:0;"><img src="../../static/community/images/houses.jpg" width="182" height="37" align="right" style="margin-right:20px;"></td>
        </tr>
        <tr>
            <td style="width:600px; background-color:#ED7324; height:90px; margin:0; padding:0;"></td>
        </tr>
        <tr>
            <td style="width:600px; background-color:#2B3032; height:190px; margin:0; padding:0;"><a href="#" style="margin-left:263px;"><img src="../../static/community/images/FB.jpg" height="36" width="36" alt="follow us on Facebook"></a><a href="#"><img src="../../static/community/images/TW.jpg" width="36" height="36" alt="follow us on Twitter"></a><p style="font-family:arial; color:#fff; margin:0; padding:0; text-align:center; margin-top:20px;">This email was sent to you by Detour Maps<br>
6428 S Pulaski Rd Chicago, IL</p> <img src="../../static/community/images/DMapsEMGroup.jpg" width="250" height="40" alt="Detour Maps is a produced by Entire Marketing Group LLC" style="margin-top:20px; margin-left:175px;"></td>
        </tr>
    </table>
</div>
</body>
</html>
