<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
</head>

<body>
<div id="container" style="width:600px; margin: auto; padding: 20px 0; position: relative; border-collapse:collapse; background-color:#fff;">
    <table style="border-collapse:collapse; width:600px; margin:0; padding:0; border:none; background-color:#FFF;">
        <tr>
            <td style="width:600px; background-color:#fff;">
                <p style="font-family:arial; font-size:39px; color:#F48031; text-align:center;">Forget something?<br>
 No problem!

                </p>
            </td>
        </tr>
        <tr>
            <td style="width:600px; background-color:#fff;">
                <p style="font-family:arial; color:#414042; font-size:18px; text-align:center;">Click <span style="color:#1C75BC;"><a
                        href="http://{{ link }}/user/newpassword?code={{ hash }}">here</a></span> to
                    reset your Detour Maps account password.
                </p>
            </td>
        </tr>
        <tr>
            <td style="width:600px; background-color:#fff;">
                <p style="font-family:arial; color:#414042; font-size:18px; text-align:right; margin-right:80px; margin-bottom:50px;">Welcome back!</p>
            </td>
        </tr>
        <tr>
            <td style="width:600px; background-color:#fff; height:37px; margin:0; padding:0;"><img src="http://detourmaps.com/static/community/images/houses.jpg" width="182" height="37" align="right" style="margin-right:20px;"></td>
        </tr>
        <tr>
            <td style="width:600px; background-color:#ED7324; height:90px; margin:0; padding:0;"></td>
        </tr>
        <tr>
            <td style="width:600px; background-color:#2B3032; height:190px; margin:0; padding:0;"><a href="" style="margin-left:263px;"><img src="http://detourmaps.com/static/community/images/FB.jpg" height="36" width="36" alt="follow us on Facebook"></a><a href="https://twitter.com/detourmaps"><img src="http://detourmaps.com/static/community/images/TW.jpg" width="36" height="36" alt="follow us on Twitter"></a><p style="font-family:arial; color:#fff; margin:0; padding:0; text-align:center; margin-top:20px;">This email was sent to you by Detour Maps<br>
6428 S Pulaski Rd Chicago, IL</p> <img src="http://detourmaps.com/static/community/images/DMapsEMGroup.jpg" width="250" height="40" alt="Detour Maps is a produced by Entire Marketing Group LLC" style="margin-top:20px; margin-left:175px;"></td>
        </tr>
    </table>
</div>
</body>
</html>
