<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Referral</title>
</head>

<body>
<div id="container" style="width:600px; margin: auto; padding: 20px 0; position: relative; border-collapse:collapse; background-color:#FFF;">
    <table style="border-collapse:collapse; width:600px; margin:0; padding:0; border:none; background-color:#FFF;">
        <tr>
            <td style="width:600px; background-color:#fff;">
                <p style="font-family:arial; font-weight:bold; font-size:35px; color:#414042; text-align:center;">Hi <!--This is where the name would have to be drawn from a form somewhere -->Tracy,<br><br>

<!--This is where the name would have to be drawn from a form somewhere --><span style="color:#0071BA;">Ramon</span> recommends you try <br>
<!--Same here with the business name --><span style="color:#F48031;">La Fiesta Bakery!</span>
                </p>
            </td>
        </tr>
        <tr>
			<td style="width:600px; background-color:#fff;">
    <p style="font-family:arial; color:#414042; font-size:18px; text-align:center; padding-left:25px;"><!--This is where the name would have to be drawn from a form somewhere -->Ramon had a great experience at <!--Same here with the business name -->La Fiesta Bakery and <br>
thinks you would like to try them out too. 
                </p>
    		</td>
		</tr>
        <tr>
			<td style="width:600px; background-color:#fff;">
            <div style="width:500px; height:auto; background-color:#EF5A24; border-top-right-radius:1em;	border-bottom-right-radius: 1em;	border-top-left-radius: 1em;	border-bottom-left-radius: 1em; -webkit-border-radius: 1;	-webkit-border-top-right-radius: 1em;	-webkit-border-bottom-right-radius: 1em;	-webkit-border-top-left-radius: 1em;	-webkit-border-bottom-left-radius: 1em;	-moz-border-radius-topright: 1em;	-moz-border-radius-bottomright: 1em;	-moz-border-radius-topleft: 1em;	-moz-border-radius-bottomleft: 1em; margin-left:50px;">
    <!--This entire message would have to be drawn from a form somewhere --><p style="font-family:arial; color:#FFF; font-size:18px; text-align:center; padding:25px;">Hey Tracy, what's up girl. Just got some pan at la fiesta. The ladies in here are real ynice and the pan is good too. They have a $10 savings card,  and I know you need 2 buy a cake your cat's birthday coming soon, save 10 bucks on it!
                </p>
            </div>
    		</td>
		</tr>
        <tr>
			<td style="width:600px; background-color:#fff;">
    <img src="../../static/community/images/referGift.jpg" width="55" height="55" alt="Refer Friends and get gifts" style="margin-left:273px; margin-top:50px;">
    		</td>
		</tr>
        <tr>
			<td style="width:600px; background-color:#fff;">
    <p style="font-family:arial; color:#414042; font-size:18px; text-align:center; padding-top:25px; margin:0;">Mention <!--This is where the name would have to be drawn from a form somewhere -->Ramon and his referral code for a free gift
                </p>
    		</td>
		</tr>
        <tr>
			<td style="width:600px; background-color:#fff; border-bottom:thin #000 solid;">
    <p style="font-family:arial; color:#EF5A24; font-size:20px; text-align:center; margin:0; padding-top:10px; margin-bottom:50px;">Code:<!--A referral code will need to be generated here -->random code here
                </p>
    		</td>
		</tr>
        <tr>
			<td style="width:600px; background-color:#fff;">
    <img src="../../static/community/images/referDeal.jpg" width="55" height="55" alt="Refer Friends and get gifts" style="margin-left:273px; margin-top:50px;">
    		</td>
		</tr>
        <tr>
            <td style="width:600px; background-color:#fff;">
                <p style="font-family:arial; color:#414042; font-size:18px; text-align:center; margin:0; padding-top:10px; margin-bottom:5px;"><span style="color:#EF5A24;">Want a great deal at <!--business name will have to be drawn from somewhere -->La Fiesta?</span><br>
Along with your free gift you can Save $10 dollars on<br>
 cakes and pastries, get exclusive offers, and get <br>
rewards for being a loyal customer.
                </p>
            </td>
        </tr>
        <tr>
            <td style="width:600px; background-color:#fff;">
                <a href="#" style="text-decoration:none;"><div style="height:30px; width:250px; background-color:#EF5A24; margin-left:175px; margin-top:30px; margin-bottom:75px;"><p style="color:#FFF; text-align:center; font-family:Arial, Helvetica, sans-serif; padding-top:5px;">Learn more about Orange Deals</p></div></a>
            </td>
        </tr>
        <tr>
            <td style="width:600px; background-color:#fff; height:37px; margin:0; padding:0;"><img src="../../static/community/images/houses.jpg" width="182" height="37" align="right" style="margin-right:20px;"></td>
        </tr>
        <tr>
            <td style="width:600px; background-color:#ED7324; height:90px; margin:0; padding:0;"></td>
        </tr>
        <tr>
            <td style="width:600px; background-color:#2B3032; height:190px; margin:0; padding:0;"><a href="#" style="margin-left:263px;"><img src="../../static/community/images/FB.jpg" height="36" width="36" alt="follow us on Facebook"></a><a href="#"><img src="../../static/community/images/TW.jpg" width="36" height="36" alt="follow us on Twitter"></a><p style="font-family:arial; color:#fff; margin:0; padding:0; text-align:center; margin-top:20px;">This email was sent to you by Detour Maps<br>
6428 S Pulaski Rd Chicago, IL</p> <img src="../../static/community/images/DMapsEMGroup.jpg" width="250" height="40" alt="Detour Maps is a produced by Entire Marketing Group LLC" style="margin-top:20px; margin-left:175px;"></td>
        </tr>
    </table>
</div>
</body>
</html>
