<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Registration and Password</title>
</head>

<body>
<div id="container" style="width:600px; margin: auto; padding: 20px 0; position: relative; border-collapse:collapse; background-color:#FFF;">
    <table style="border-collapse:collapse; width:600px; margin:0; padding:0; border:none; background-color:#FFF;">
        <tr>
            <td style="width:600px; background-color:#fff;">
                <p style="font-family:arial; font-weight:bold; font-size:39px; color:#F48031; text-align:center;">We're glad you're here!
                </p>
            </td>
        </tr>
        <tr>
            <td style="width:600px; background-color:#fff;">
                <p style="font-family:arial; color:#414042; font-size:18px; text-align:left;">Welcome to Detourmaps, you're one click away from getting all that your neighborhood has to offer. Click on the button below to confirm your registration.
                </p>
            </td>
        </tr>
        <tr>
			<td style="width:600px; background-color:#fff;">
    <p style="font-family:arial;font-size:25px; color:#F48031; padding-left:25px;">What's around</p>
    		</td>
		</tr>
        <tr>
            <td style="width:600px; background-color:#fff;">
                <p style="font-family:arial; color:#414042; font-size:18px; text-align:left; padding-left:25px;">Explore new places to eat and shop with our printed maps and <br>
interactive online directory. View photos, videos, and descriptions <br>
of places that are closer than you think. Leave reviews, get directions, <br>
print coupons, and share with friends.
                </p>
            </td>
        </tr>
        <tr>
			<td style="width:600px; background-color:#fff;">
    <p style="font-family:arial;font-size:25px; color:#F48031; padding-left:25px;">Save locally</p>
    		</td>
		</tr>
        <tr>
            <td style="width:600px; background-color:#fff;">
                <p style="font-family:arial; color:#414042; font-size:18px; text-align:left; padding-left:25px;">Save when you shop and eat locally with Detour Maps' $10 Savings Card. It's free, and now available digitally on our website. Download it directly to your mobile device! We've made it easier to save locally.
                </p>
            </td>
        </tr>
        <tr>
			<td style="width:600px; background-color:#fff;">
    <p style="font-family:arial;font-size:25px; color:#F48031; padding-left:25px;">Lika a bulletin board</p>
    		</td>
		</tr>
        <tr>
            <td style="width:600px; background-color:#fff;">
                <p style="font-family:arial; color:#414042; font-size:18px; text-align:left; padding-left:25px;">View upcoming community events, neighborhoods facts, and look up numbers and addresses for city services.
                </p>
            </td>
        </tr>
        <tr>
			<td style="width:600px; background-color:#fff;">
    	<a href="http://{{ link }}" target="_blank" style="font-family:arial; font-size:20px; color:#F48031; padding-left:25px;">Confirm your account</a>
    		</td>
    	</tr>
    	<tr>
			<td style="width:600px; background-color:#fff;">
    	<p style="font-family:arial; font-size:20px; color:#636667; width:175px; margin-left:400px;">Your password is: {{ password }}</p>
    		</td>
		</tr>
        <tr>
            <td style="width:600px; background-color:#fff;">
                <p style="font-family:arial; color:#414042; font-size:18px; text-align:right; margin-right:50px; margin-bottom:50px;">Welcome to Detour Maps!</p>
            </td>
        </tr>
        <tr>
            <td style="width:600px; background-color:#fff; height:37px; margin:0; padding:0;"><img src="http://detourmaps.com/static/community/images/houses.jpg" width="182" height="37" align="right" style="margin-right:20px;"></td>
        </tr>
        <tr>
            <td style="width:600px; background-color:#ED7324; height:90px; margin:0; padding:0;"></td>
        </tr>
        <tr>
            <td style="width:600px; background-color:#2B3032; height:190px; margin:0; padding:0;"><a href="https://www.facebook.com/detourmaps" style="margin-left:263px;"><img src="http://detourmaps.com/static/community/images/FB.jpg" height="36" width="36" alt="follow us on Facebook"></a><a href="https://twitter.com/detourmaps"><img src="http://detourmaps.com/static/community/images/TW.jpg" width="36" height="36" alt="follow us on Twitter"></a><p style="font-family:arial; color:#fff; margin:0; padding:0; text-align:center; margin-top:20px;">This email was sent to you by Detour Maps<br>
6428 S Pulaski Rd Chicago, IL</p> <img src="http://detourmaps.com/static/community/images/DMapsEMGroup.jpg" width="250" height="40" alt="Detour Maps is a produced by Entire Marketing Group LLC" style="margin-top:20px; margin-left:175px;"></td>
        </tr>
    </table>
</div>
</body>
</html>
