{% extends 'base-new.html' %}
{% block title %}Update your password{% endblock %}
{% block head %}
    <meta name="robots" content="index, follow">
    <link rel="stylesheet" type="text/css"
          href="http://fonts.googleapis.com/css?family=Arvo:400,700|Istok+Web:400,700|Metrophobic!Open+Sans|Open+Sans+Condensed:300">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}community/css/dtmfront-evolution.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}community/css/style_home.css">
    <style type="text/css">
        body {
            background: #ffffff !important;
        }

        input:focus {
            background-color: #ffffff;
        !important;
        }

        .overmenu {
            z-index: 1000;
        }
        .wrap-form{
            position: relative;
            width: 70%;
            margin: auto;
            padding: 2% 0;
        }
    </style>
{% endblock %}
{% block bar-container %}{% endblock %}
{% block content %}
    <div class="pure-g-r details content">
        <div class="wrap-form">
            <div id="benefits" class="pure-u-1-2">
            <h2 id="title-benefits" class="pure-u-1-1">Stay Connected to your neighborhood with Detourmaps</h2>

            <div class="pure-u-1-1" style="overflow: hidden; height: 90px;">
                <div style="float: left;">
                    <img src="/static/community/img/icons/iconoDolar.png">
                </div>
                <div style="float: right; width: 70%;">
                    <div id="text-benefits">
                        <p>Save with $10 Savings Card, coupons, and other deals available directly from our side.</p>
                    </div>
                </div>
            </div>
            <div class="pure-u-1-1" style="overflow: hidden; height: 90px;">
                <div style="float: left;">
                    <img src="/static/community/img/icons/local.png">
                </div>
                <div style="float: right; width: 70%;">
                    <div id="text-benefits">
                        <p>Stay local and be part of community events like festivals, town meetings, and more.</p>
                    </div>
                </div>
            </div>
            <div class="pure-u-1-1" style="overflow: hidden; height: 90px;">
                <div style="float: left;">
                    <img src="/static/community/img/icons/direcciones.png">
                </div>
                <div style="float: right; width: 70%;">
                    <div>
                        <p>Share directions, deals, reviews and more local with information with friends and
                            neighbors.</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="registerUsers" class="pure-u-1-2">

            <form id="frmlogin" style="padding: 0 35px;" action="" method="POST">{% csrf_token %}

                <p>By registering will have access to review, share and </br>
                    explore local community deals and promotions.</br>
                    You don't need to go anywhere else to shop local.
                </p>
                <hr width=%50 align="center">
                </br>
                <div style="display: block;">
                    <div class="pure-u-1-1">
                        Current Password
                    </div>
                    <div class="pure-u-1-1">
                        <input class="inputLogin" id="frmlogin_email" type="password" name="old_password">
                    </div>
                </div>
                </br>
                <div style="display: block;">
                    <div class="pure-u-1-1">
                        New Password
                    </div>
                    <div class="pure-u-1-1">
                        <input class="inputLogin" type="password" name="new_password">
                    </div>
                </div>
                </br>
                <div style="display: block;">
                    <div class="pure-u-1-1">
                        Repeat Password
                    </div>
                    <div class="pure-u-1-1">
                        <input class="inputLogin" type="password" name="repeat_password">
                    </div>
                </div>
                </br>
                <div style="display: block;text-align: right;">
                    <button style="width: 130px;padding-left:0px ">
                        Save
                    </button>
                </div>
                </br>
            </form>
        </div>
        </div>
    </div>
{% endblock %}