<h4 class="western"><b>APPETIZERS</b></h4>
    <ul>
        <li>Guacamole con tostaditas - Guacamole with chips</li>
        <li>Nachos con guacamole - Chips with beans, melted cheese, guacamole, sour cream and mild sauce. </font>
        </p></li>
        <li>Ostiones en su concha - Fresh oysters (8).</li>
        <li>4-Camadillas - <font
                style="font-size: 9pt">Shrimp cheese and mushrooms quesadillas. </font></p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"><span lang="es-US">Pulpo a la plancha - </span><font
                style="font-size: 9pt"><span lang="es-US">Grilled octopus.</span></font><span lang="es-US">	</span>
        </p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"><span lang="es-US">Botana del mar al mojo de ajo - </span><font
                style="font-size: 9pt"><span
                lang="es-US">Shrimp, octopus, calamari in garlic, wine sauce.	</span></font><span
                lang="es-US"> </span></p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"> 3-Empanadas - <font
                style="font-size: 9pt">cheese, steak, shrimp, chicken. </font></p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"><span lang="es-US">4-Quesadillas con guacamole - </span><font
                style="font-size: 9pt"><span lang="es-US">Cheese quesadillas with guacamole.</span></font><span
                lang="es-US">	</span></p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"> Flautitas de pollo <font
                style="font-size: 9pt">- 3 crispy rolled up tortillas filled with chicken topped with guacamole, sour
            cream and pico de gallo. </font></p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"> Queso fundido con chorizo - <font
                style="font-size: 9pt">Our authentic chihuahua cheese melted with chorizo and mild sauce. </font></p>
        </li>
    </ul>
<h4 class="western">CALDOS / SOUP</h4>
    <ul>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"><span lang="es-US">Caldo de camaron - </span><font
                style="font-size: 9pt"><span lang="es-US">Shrimp soup.</span></font></p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"><span lang="es-US">Caldo de pescado Fresco - </span><font
                style="font-size: 9pt"><span lang="es-US">Fresh fish soup</span></font><span lang="es-US">. </span></p>
        </li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"><span lang="es-US">Caldo de pescado con camaron - </span><font
                style="font-size: 9pt"><span lang="es-US">Fish and shrimp soup.</span></font><span
                lang="es-US">	</span></p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"> Caldo de muchos mariscos - <font
                style="font-size: 9pt">Soup with shrimp, octopus, fish, clam squid and crab legs</font></p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"><span
                lang="es-US">Caldo de pollo - </span><font style="font-size: 9pt"><span lang="es-US">Chicken soup</span></font>
        </p></li>
    </ul>
<h4 class="western">ENSALADAS / SALAD</h4>
    <ul>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"><span lang="es-US">Concha de ensalada con camaron –</span><font
                style="font-size: 9pt"><span lang="es-US"> Shrimp salad.</span></font></p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"><span lang="es-US">Concha de ensalada con pollo </span><font
                style="font-size: 9pt"><span lang="es-US">- Chicken salad.</span></font></p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"><span lang="es-US">Concha de ensalada con guacamole - </span><font
                style="font-size: 9pt"><span lang="es-US">Vegetable salad with guacamole.	</span></font></p></li>
    </ul>
<h4 class="western">ANTOJITOS</h4>
    <ul>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"> Taco - <font
                style="font-size: 9pt">Avocado, steak, beef, chicken, pork or chorizo, topped with cream and
            cilantro.</font></p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"> Lechuga, tomate, queso <font
                style="font-size: 9pt">- Lettuce, tomato and cheese.</font></p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"> Torta - <font
                style="font-size: 9pt">Avocado, steak beef, chicken, pork or chorizo, topped with beans, lettuce, tomato
            and cheese.</font></p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"> Burrito - <font
                style="font-size: 9pt">Avocado, steak beef, chicken, pork or chorizo, topped with beans, lettuce, tomato
            and cheese.</font></p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"> Tostada <font
                style="font-size: 9pt">- Crispy, tortillas filled with your choice of avocado, steak, beef chicken,
            shrimp or chorizo topped with lettuce, tomato, cheese and sour cream.</font></p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"> Quesadilla - <font
                style="font-size: 9pt">Fold over tortilla filled with cheese and your choice of steak or chicken</font>.
        </p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"> Taco vegetarian - <font
                style="font-size: 9pt">Vegetarian avocado taco topped with lettuce, tomato, cilantro, onion, cheese and
            sour cream.</font></p></li>
    </ul>
<h4 class="western"><b>DINNERS / TRADICIONALES</b></h4>
    <ul>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"> Taco Dinner - <font
                style="font-size: 9pt">3 tacos of your choice steak, beef, chicken, pork, chorizo or avocado topped with
            onions and cilantro served with rice and beans.</font></p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"><span lang="es-US">Lechuga, tomate, queso - </span><font
                style="font-size: 9pt"><span lang="es-US">Lettuce, tomato, cheese.</span></font></p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"> Burrito dinner – <font
                style="font-size: 9pt">A burrito of your choice steak, beef, avocado, chicken or pork served with rice
            and beans.</font></p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"> Torta dinner - <font
                style="font-size: 9pt">Tarta of your choice, steak, beef, chicken, pork, chorizo, avocado topped with
            lettuce, tomato, cheese served with rice and beans.</font></p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"> Enchiladas verdes o rojas - <font
                style="font-size: 9pt">3 Fold over tortillas filled with your choice of chicken, steak, shrimp or cheese
            served with rice and beans green or red sauce.</font></p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"> Flautas dinner - <font
                style="font-size: 9pt">4 Crispy rolled tortillas filled with chicken topped with lettuce, tomato, cheese
            guacamole and sour cream served with rice and beans</font>.</p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"> Tostadas dinner - <font
                style="font-size: 9pt">2 Crispy tortillas filled with your choice of steak, beef, chicken, shrimp or
            chorizo topped with lettuce, tomato rice and beans.</font></p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"> Quesadillas dinner - <font
                style="font-size: 9pt">3 Fold over tortillas filled with cheese and your choice of steak, chicken or
            shrimp served with rice and beans.</font></p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"> Tacos vegetarianos - <font
                style="font-size: 9pt">3 Vegetarian avocado tacos topped with lettuce, tomato, cilantro, onion, cheese
            and sour cream served with rice and beans.</font></p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"> Chiles rellenos - <font
                style="font-size: 9pt">2 Stuffed poblano peppers filled with your choice of beef, chicken or cheese
            served with rice and beans.</font></p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"> Caldo de pollo - <font
                style="font-size: 9pt">Chicken soup it's a meal.</font></p></li>
    </ul>
<h4 class="western">ASADAS AL CARBOM</h4>
    <ul>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"> Served with rice, Bears And Grilled
            Vegetables.</p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"> La original arrachera con guacamole
            - <font style="font-size: 9pt">Tasty charcoal skirt steak with guacamole.</font></p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"> Arrachera con un chile relleno -
            <font style="font-size: 9pt">Steak and one stuffed pepper with cheese.</font></p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"> Arrachera con camarones a la
            plancha - <font style="font-size: 9pt">Steak and grilled shrimp.</font></p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"> Arrachera con camarones empanizados
            - <font style="font-size: 9pt">Steak and breaded shrimp.</font></p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"><span lang="es-US">Arrachera con camarones al ajo - </span><font
                style="font-size: 9pt"><span lang="es-US">Steak and diabla shrimp</span></font><span
                lang="es-US">.</span></p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"> Arrachera con camarones a la diabla
            - <font style="font-size: 9pt">Steak and garlic shrimp. </font></p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"> Arrachera a La Marinera - <font
                style="font-size: 9pt">Steak in tomato, mushrooms and melted cheese.</font></p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"><span lang="es-US">Arrachero con pastas de cangrejo - </span><font
                style="font-size: 9pt"><span lang="es-US">Steak and snow crab legs.</span></font></p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"> Fajitas carne asada - <font
                style="font-size: 9pt">Steak or chicken fajitas.</font></p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"><span lang="es-US">Fajitas vegetarianas con queso - </span><font
                style="font-size: 9pt"><span lang="es-US">Vegetarian fajitas with cheese.</span></font></p></li>
    </ul>
<h4 class="western">POLLO AL CARBON</h4>
    <ul>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"> Served With Rice, Beans And Grilled
            Vegetables.</p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"> Pollo con guacamole - <font
                style="font-size: 9pt">Tasty</font> <font style="font-size: 9pt">charcoal chicken with guacamole.</font>
        </p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"> Pollo con camarones al gusto -
            <font style="font-size: 9pt">Chicken with shrimp of your choice: empanizados, breaded shrimp, a la plancha
                sazonador, grilled shrimp seasoned, a la diabla, in diabla hot sauce.</font></p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"><span lang="es-US">Pollo con pastas de cangrejo - </span><font
                style="font-size: 9pt"><span lang="es-US">Tasty charcoal chicken and snow crab legs.</span></font></p>
        </li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"><span lang="es-US">Fajitas de pollo asado </span><font
                style="font-size: 9pt"><span lang="es-US">- Chicken fajitas.</span></font></p></li>
    </ul>
<h4 class="western">HUACHINANGOTES / RED SPNAPPER</h4>
    <ul>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"> Al mojo de ajo - <font
                style="font-size: 9pt">In garlic, wine and cilantro sauce.</font></p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"> A la veracruzana <font
                style="font-size: 9pt">- In tomato, wine and olive sauce fried or steamed.</font></p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"><span
                lang="es-US">A la diabla - </span><font style="font-size: 9pt"><span
                lang="es-US">In diabla sauce.</span></font></p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"> A la marinera con hongos - <font
                style="font-size: 9pt">In marinara sauce with mushrooms.</font></p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"> Relleno de camarones - <font
                style="font-size: 9pt">Steam cooked stuffed with shrimp</font>.</p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"> Frito <font style="font-size: 9pt">-
            Deep fried.</font></p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"> Chiles rellenos de camaron <font
                style="font-size: 9pt">- Stuffed green pepper filled with shrimp.</font></p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"> Arroz con muchos mariscos - <font
                style="font-size: 9pt">Rice with lots of seafood.</font></p></li>
    </ul>
<h4 class="western">Filete De Pescado Blanco - White Fish Fillet</h4>
    <ul>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"> Al mole de ajo - <font
                style="font-size: 9pt">In garlic, wine and cilantro sauce.</font></p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"> A la Veracruzana - <font
                style="font-size: 9pt">In tomato, wine and olive sauce fried or steamed.</font></p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"><span
                lang="es-US">A la diabla - </span><font style="font-size: 9pt"><span
                lang="es-US">In diabla sauce.</span></font><span lang="es-US">	</span></p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"> Empanizado - <font
                style="font-size: 9pt">Breaded.</font></p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"> Relleno de camarones - <font
                style="font-size: 9pt">Steam cooked stuffed with shrimp. </font></p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"> Frito - <font
                style="font-size: 9pt">Deep fried.</font></p></li>
    </ul>
<h4 class="western">CAMARONES / SHRIMP</h4>
    <ul>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"> A la plancha con sazonador - <font
                style="font-size: 9pt">Grilled and seasoned.</font></p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"> Al mojo de ajo - <font
                style="font-size: 9pt">In garlic, wine and cilantro sauce</font>.</p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"> Rellenos de queso y tocino - <font
                style="font-size: 9pt">Stuffed with cheese and bacon.</font></p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"> Emborranchados - <font
                style="font-size: 9pt">In beer, wine and chipotle sauce.</font></p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"><span
                lang="es-US">A La Diablo - </span><font style="font-size: 9pt"><span
                lang="es-US">In diablo sauce.</span></font></p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"> Empanizado - <font
                style="font-size: 9pt">Breaded</font>.</p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"> A la marinera con hongos - <font
                style="font-size: 9pt">In marinara sauce with mushrooms.</font></p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"><span lang="es-US">Fajitas de camaron - </span><font
                style="font-size: 9pt"><span lang="es-US">Shrimp fajitas.</span></font></p></li>
    </ul>
<h4 class="western">COCTELES - COCKTAILS</h4>
    <ul>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"><span lang="es-US">Camaron </span>
        </p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"><span
                lang="es-US">Shrimp – </span><font style="font-size: 9pt"><span lang="es-US">gigante.</span></font></p>
        </li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"><span lang="es-US">Pulpo </span></p>
        </li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"><span lang="es-US">Octopus – </span><font
                style="font-size: 9pt"><span lang="es-US">gigante.</span></font></p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"><span lang="es-US">Calamar </span>
        </p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"> Squid <font style="font-size: 9pt">-
            gigante.</font></p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"> Campechana gigante - <font
                style="font-size: 9pt">mixed of your choice.</font></p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"> Vuelve la vida gigante - <font
                style="font-size: 9pt">Back to life with all of the above.</font></p></li>
    </ul>
<h4 class="western">UN BUEN CEVICHE</h4>
    <ul>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"><span
                lang="es-US">Pescado - Fish</span></p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"><span
                lang="es-US">Camaron - Shrimp</span></p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"><span
                lang="es-US">Calamar - Squid</span></p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"><span
                lang="es-US">Pulpo - Octopus</span></p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"> Jaiba - Crab meat</p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"> Ceviche tocha morocho</p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"> Ceviche with All of above</p></li>
    </ul>
<h4 class="western">PARA KIDS</h4>
    <ul>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"> Carne asada con arroz y papitas -
            <font style="font-size: 9pt">Steak with rice and french fries</font></p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"> Camarones empanizadas arroz y
            papitas - <font style="font-size: 9pt">Breaded shrimp with rice and french fries</font></p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"> Pollo al carbon con arroz y papitas
            - Char <font style="font-size: 9pt">broiled chicken with rice and french fries</font></p></li>
    </ul>
<h4 class="western">EXTRAS</h4>
    <ul>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"> Carne - Meat </p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"> Arroz - Rice</p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"> Frijoles - Beans</p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"><span lang="es-US">Aguacate - Avocado</span>
        </p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"><span
                lang="es-US">Queso Cheese</span></p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"><span
                lang="es-US">Crema - Sour crea</span><span lang="es-US">m</span></p></li>
    </ul>
<h4 class="western">JUGOS / JUICES</h4>
    <ul>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"><span lang="es-US">Jugo natural de naranja 100% natural juice</span>
        </p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"> Aguas frescas - Flavor Drinks</p>
        </li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"> Horchata - Rice water</p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"> Limonada lemonade</p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"> Big Sodas</p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"> Coke Or 7-Up</p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"> Iced Tea</p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"> Cafe</p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"> Tea Or Coffee</p></li>
        <li><p style="margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 100%"> Pasteles - Desserts</p></li>
    </ul>