<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Password</title>
</head>

<body>
<div id="container" style="width:700px; margin: auto; padding: 20px 0; position: relative;">
    <table>
        <tr>
            <td>
                <p style="font-family:arial; font-size:39px; color:#F48031;">Forget something? No problem!

                <p>
            </td>
        </tr>
        <tr>
            <td>
                <p style="font-family:arial; color:#414042; font-size:18px">just click <span style="color:#1C75BC;"><a
                        href="http://{{ request.META.HTTP_HOST }}/user/newpassword?code={{ hash }}">here</a></span> to
                    reset your Detourmaps account password.

                <p>
            </td>
        </tr>
        <tr>
            <td>
                <p style="font-family:arial; color:#414042; font-size:18px">Welcome back!</p>
            </td>
        </tr>
        <tr>
            <td><a href="http://www.detourmaps.com/" target="_blank"><img src="images/registration.png"
                                                                          style="margin-left:460px;"
                                                                          alt="detourmaps"></a></td>
        </tr>
        <tr>
            <td><p style="font-family:arial; color:#6D6E71; width:600px;">Please do not respond to this email, to manage
                your Detourmaps account login into
                our website and click on your profile to change your password.</p></td>
        </tr>
    </table>
</div>
</body>
</html>
