<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style>
        table{
            width: 45%;
            margin: auto;
        }
        td{
            text-align: center;
        }
    </style>
</head>
<body>
<table>
    <thead>
        <tr>
            <td colspan="2" style="text-align: center;"><img src="/media/detourOrange.png"/></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img src="{{ card }}"/></td>
            <td><img src="{{ qr_code }}" style="zoom: 50%;"/></td>
        </tr>
    </tbody>
</table>
</body>
</html>