<!DOCTYPE html>
<html>
<head>
    <title>DetourMaps - Print Card</title>
    <style>
        td{
            text-align: center;
        }
    </style>
</head>
<body>
<table style="width: 45%; margin: auto;">
    <thead>
        <tr>
            <td colspan="2" style="text-align: center;"><img src="/media/detourOrange.png"/></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img src="{{ card }}"/></td>
            <td><img src="{{ qr_code }}" style="zoom: 50%;"/></td>
        </tr>
        <tr>
            <td colspan="2">
                <button onclick="window.print(); return false;">Print</button>
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>