{% extends 'base-mobile.html' %}
{% block title %}DetourMaps - Register Business{% endblock %}
{% block extrahead %}
    <style>
        html{
            background-color: #333 !important;
        }
        body{
            background-color: #333 !important;
        }
        #body{
            background: #333 !important;
            margin-top: 180px;
        }
        #slideMenu{
            display: none !important;
        }
        #nav{
            display: block !important;
        }
    </style>
{% endblock %}
{% block body %}
    <section id="registerBusinessPanel">
        <h1>Register Your Business</h1>
        <form id="formRegisterBusiness">
            <div class="rowForm">
                <label>Name of Business:</label>
                <input type="text" placeholder="e.g Google *" data-theme="a" name="name" class="required"/>
            </div>
            <div class="rowForm">
                <label>Address:</label>
                <input type="text"  data-theme="a"  name="address" class="required"/>
            </div>
            <div class="rowForm">
                <label>City/State:</label>
                <input type="text"  data-theme="a"  name="sity" class="required"/>
            </div>
            <div class="rowForm">
                <label>Owner:</label>
                <input type="text"  data-theme="a" name="owner" class="required"/>
            </div>
            <div class="rowForm">
                <label>Cntact:</label>
                <input type="text"  data-theme="a" name="contact" class="required"/>
            </div>
            <div class="rowForm">
                <label>Phone:</label>
                <input type="text"  data-theme="a"/>
            </div>
            <div class="rowForm">
                <label>Mobile:</label>
                <input type="text"  data-theme="a"/>
            </div>
            <div class="rowForm">
                <label>Email:</label>
                <input type="email"  data-theme="a"/>
            </div>
            <div class="rowForm">
                <label>Website:</label>
                <input type="url"  data-theme="a"/>
            </div>
            <button>
                Sign Up
            </button>
        </form>
    </section>
{% endblock %}
{% block principalNav %}{% endblock %}