<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Registration</title>
</head>
<body>
<div id="container" style="width:600px; margin: auto; padding: 20px 0; position: relative;">
<table style="vertical-align: middle;">
<tr>	
	<td>
   <p style="font-family:arial; font-size:39px; color:#F48031;">We're glad you're here!<p>
    </td>
</tr>
<tr>
	<td>
    <p style="font-family:arial; color:#414042; width:650px;">Welcome to Detourmaps, you're one click away from getting all that your neighborhood has to offer. Just click on the button below to confirm your registration.</p>
    </td>
</tr>
<tr>
	<td>
    </td>
</tr>
<tr>
	<td>
    <p style="font-family:arial;font-size:25px;color:#F48031; padding-left:24px;">What's around</p>
    </td>
</tr>
<tr>
	<td>
    <p style="font-family:arial; color:#414042; width:650px; padding-left:24px;">Explore new places to eat and shop with our printed maps and interactive online directory. View photos, videos, and descriptions of places that are closer than you think. Leave reviews, get direction, print coupons, and share with friends.</p>
    </td>
</tr>
<tr>
	<td><p style="font-family:arial;font-size:25px;;color:#F48031; padding-left:24px;">Save local</p><td>
</tr>
	
<tr>
	<td>
    <p style="font-family:arial; color:#414042; width:650px; padding-left:24px;">Save when you shop and eat local with Detourmaps $10 Savings Card. It's free, and now available digitally on our website. Download it directly to your mobile device! We've made it more easy to save local.
    </p>
	</td>
</tr>


<tr>
	<td>
     <p style="font-family:arial;font-size:25px;;color:#F48031;padding-left:24px;">Like a bulletin board</p>
    </td>
</tr>
<tr>
	<td>
    <p style="font-family:arial;color:#414042; width:650px; padding-left:24px;">View upcoming community events, neighborhoods facts like the number of schools and parks in the area, and look up numbers and addresses for city services</p>
    </td>
</tr>
<tr>
	<td>
    	<a href="http://localhost:8000{{ link }}" target="_blank" style="font-family:arial;font-size:20px;color:#F48031;padding-left:24px;">Confirm your account</a>
    </td>
	<td>
    	<p style="font-family:arial;font-size:20px;color:#636667;">Your password is: {{ password }}</p>
    </td>
</tr>
<tr>
	<td>
    	<p style="font-family:arial; width:650px; color:#6D6E71; padding-left:24px;">Please do not respond to this email, to manage your Detourmaps account into our website and click on your profile to change your password.
    </td>
</tr>

</table>
</div>
</body>
</html>
