{% extends "base-mobile.html" %}
{% block title %}Detourmaps - Savings{% endblock %}
{% block secondnav %}{% endblock %}
{% block body %}
    <h1 class="titleS">Shop Local, Save $10</h1>
    <p class="text">
        With our color coded Saving Card you can save $10<br>
        on your next purchase (*minimum amount required $30-$40-$50).<br>
        This free savings card is available with our printed<br>
        maps and you can also request one here.
    </p>
    <p class="text">
        Select a card or community below to browse<br>
        participating business and start saving!
    </p>

{% endblock %}