<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Ten Visits - Program</title>
</head>
<body>
<div id="container" style="width:600px; margin: auto; padding: 20px 0; position: relative;">
<table style="vertical-align: middle;">
<tr>	
	<td>
   <p style="font-family:arial; font-size:39px; color:#F48031;">We're glad you're here!<p>
    </td>
</tr>
<tr>
	<td>
    <p style="font-family:arial; color:#414042; width:650px;">Welcome to Detourmaps, this is a aoutomatic message, your {{ program }} is complete!.</p>
    </td>
</tr>
<tr>
	<td>
    </td>
</tr>
<tr>
	<td>
    <p style="font-family:arial; color:#414042; width:650px; padding-left:24px;">{{ message }}</p>
    </td>
</tr>
<tr>
	<td>
    	<a href="http://detourmaps.com{{ link }}" target="_blank" style="font-family:arial;font-size:20px;color:#F48031;padding-left:24px;">Your dashboard</a>
    </td>
	<td>
    	<p style="font-family:arial;font-size:20px;color:#636667;"></p>
    </td>
</tr>
<tr>
	<td>
    	<p style="font-family:arial; width:650px; color:#6D6E71; padding-left:24px;">Please do not respond to this email, to manage your Detourmaps account into our website and click on your profile to change your password.
    </td>
</tr>
</table>
</div>
</body>
</html>
