{% extends 'base-new.html' %}
{% block title %}Bring DetourMaps to your Neighborhood{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}community/css/dtmfront-evolution.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}community/css/style_home.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}animation/style.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}web-icon/css/font-awesome.min.css">

    <link rel="stylesheet" href="{{ STATIC_URL }}custom-theme/jquery-ui-1.10.3.custom.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}modal/jquery.modal.css" type="text/css" media="screen"/>
    <!--[if lt IE 9]>
    <script src="{{ STATIC_URL }}aFarkas-html5shiv-67bff28/dist/html5shiv.js"></script>
    <![endif]-->
    <style type="text/css">
        body {
            background: #fff !important;
        }

        .overmenu {
            z-index: 1000;
        }

        footer {
            position: relative !important;
            top: 0 !important;
        }
    </style>
{% endblock %}
{% block bar-container %}{% endblock %}
{% block content %}
    <div class="container main">
        <div class="row">
            <div class="ninecol">
                <h1 class="titleBring">Engage neighbors. Connect your city. Build community.</h1>

                <div>
                    <p class="bringP">
                        Detour Maps makes it easy for your community! Now every residents and visitors knows where all
                        your main places and business<br>
                        with new promotions are located. Business, local organizations, and residents are connected with
                        neighbors to build stronger<br>
                        communities
                    </p>
                </div>
                <div id="textos">
                    <div class="uniTextos">
                        <img src="{{ STATIC_URL }}community/elementos/conect-neighbor.png"/>

                        <div>
                            <h2>Connect neighbors to build community</h2>

                            <p>
                                Detour Maps encourage residents to shop local and keep all within your community for<br>
                                better schools, parks, theaters, libraries, security with safer places to call home.
                            </p>
                        </div>
                    </div>
                    <div class="uniTextos">
                        <img src="{{ STATIC_URL }}community/elementos/save-support.png"/>

                        <div>
                            <h2>Save and get support</h2>

                            <p>
                                We will guide you with $10 Savings card around your community to save and keep the<br>
                                money within your neighborhood and support local business with smart marketing tools<br>
                                and promotions.
                            </p>
                        </div>
                    </div>
                    <div class="uniTextos">
                        <img src="{{ STATIC_URL }}community/elementos/starter.png"/>

                        <div>
                            <h2>Contact us to get started</h2>

                            <p>
                                It’s free, easy and fexible.
                            </p>
                        </div>
                    </div>
                </div>
                <div>
                    <p class="bringP">
                        Detour Maps costs nothing and residents also can get digital integration with our mobile
                        website. Our website can give you a lot<br>
                        options to plan your entertainment with our community events, checking and place reviews with
                        your favorite places. Support you<br>
                        favorite places with reviews for a better business improving.
                    </p>
                </div>
                <h2 class="titleSecondBring">Neighborhoods using Detour Maps become more connected, and their
                    development progress is contagious.</h2>

                <div id="bringPanel">
                    <form id="bringForm">
                        <h2>Bring DetourMaps to your neighborhood</h2>

                        <p>
                            If you are head on a local organization, public ofcial or a visionary entrepreneur to bring
                            Detour<br>
                            Maps to your neighborhood, please let us know, and our team will be in touch soon to help
                            you get<br>
                            started.
                        </p>

                        <h3>Your Info</h3>

                        <div class="itemFormBring"><input type="text" name="your-name" placeholder="Your Name"/></div>
                        <div class="itemFormBring"><input type="text" name="job-title" placeholder="Job Title"/></div>
                        <div class="itemFormBring"><input type="text" name="email-address" placeholder="Email Address"/>
                        </div>
                        <div class="itemFormBring"><input type="text" name="phone-number" placeholder="Phone Number"/>
                        </div>
                        <div class="itemFormBring"><input type="text" name="city" placeholder="City"/></div>
                        <div class="itemFormBring"><input type="text" name="state" placeholder="State"/></div>
                        <h3>More Info</h3>

                        <div class="itemAnchorBring"><input type="text" name="hear-us"
                                                            placeholder="How did you hear about Detourmaps?"/></div>
                        <div class="itemAnchorBring"><input type="text" name="anything-else"
                                                            placeholder="Anything else we sould know?"/></div>
                        <div class="bbar">
                            <button class="requestBtn">
                                Request Detour Maps for my Neighborhood
                            </button>
                            <button class="closeBtn">
                                Close
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="threecol last">
                <img src="{{ STATIC_URL }}community/elementos/new-isotipo.png" class="newImg"/>
            </div>
        </div>
    </div>
{% endblock %}