{% extends "base-new.html" %}
{% block title %}Contact Us{% endblock %}
{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--Dinamicos-->
    <meta name="robots" content="index, follow">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}community/css/dtmfront-evolution.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}community/css/style_home.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}animation/style.css">
    <script>
        $(document).ready(function () {
            // US Phone Validation
            $.validator.addMethod("phoneUS", function (phone_number, element) {
                phone_number = phone_number.replace(/\s+/g, "");
                return this.optional(element) || phone_number.length > 9 &&
                        phone_number.match(/^(1-?)?(\([2-9]\d{2}\)|[2-9]\d{2})-?[2-9]\d{2}-?\d{4}$/);
            }, "Please specify a valid phone number");
            // Coupons Form
            $('#couponRequestForm, #frmlogin').validate();
            $('#couponRequestForm').submit(function (e) {
                if ($('#couponRequestForm').valid() && !$('#mailCouponRequest').hasClass('disabled')) {
                    $('#mailCouponRequest').prop('disabled', true).addClass('disabled').css('opacity', 0.5);
                    $('#couponRequestForm p.submit .msg').html($('<img/>').attr('src', '{{ STATIC_URL }}web/img/loading.gif'));
                    $.post('{% url "web.views.couponsForm" %}', $('#couponRequestForm').serialize(), function (data) {
                        if (data = 'Thanks') {
                            $('#couponRequestForm p.submit .msg').text('Success! Check your email inbox.');
                        } else {
                            $('#mailCouponRequest').prop('disabled', false).removeClass('disabled').css('opacity', 1);
                            $('#couponRequestForm p.submit .msg').text('Error! Try again or call-us to 708 484 1119. We will be happy to help you!');
                        }
                    });
                }
                e.preventDefault();
            });
            $("#contactForm").validate({
                rules: {
                    interested: {
                        required: true
                    },
                    name_is: "required",
                    email_is: "required",
                    phones_is: "required",
                    questions: "required"
                },
                messages: {
                    interested: {
                        required: "You must select it something"
                    },
                    name_is: "This field must not be empty",
                    email_is: "This field must not be empty",
                    phones_is: "This field must not be empty",
                    questions: "This field must not be empty"
                }
            });
            $("#contactForm").submit(function (e) {
                if ($("#contactForm").valid()) {
                    $.post('/contact', $("#contactForm").serialize(), function (data) {
                        new Messi(data + ' Success! Check your email inbox.', {title: 'DetourMaps - Contact System', modal: true});
                    });
                }
                e.preventDefault();
            });
        });
    </script>
    <!--[if lt IE 9]>
            <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="{{ STATIC_URL }}community/js/search-home.js"></script>
    <style>
        body {
            background: #fff !important;
        }

        footer {
            position: relative !important;
            top: 0 !important;
        }

        .overmenu {
            z-index: 1000;
        }
    </style>
{% endblock %}
{% block bodyname %}contact-page{% endblock %}
{% block bar-container %}{% endblock %}
{% block content %}
    <div class="container firstPanel">
        <div class="pure-g">
            <div class="pure-u-1-1">
                <h1 class="titleNewDesign">
                    We would love to hear from <span>YOU</span>
                </h1>
                <p class="pcontact">
                    Whatever you want to ask, we are happy to hear from you and we are always ready to give
                    our best answer. Just choose what you are trying to reach us for and a representative will
                    get in touch with you within the next 24 hours.
                </p>
            </div>
            <div class="onecol last"></div>
        </div>
    </div>
    <div class="container newContactBar">
        <div class="row">
            <div class="infoBanner threecol">
                <div class="parent contact-address">
                    <div class="textInfoBanner">
                        Address<br>
                        6900 W Cermak Rd<br>
                        Berwyn IL 60402
                    </div>
                </div>
                <style>
                    div.contact-address {
                        background: url({{ STATIC_URL }}community/elementos/contact-icon-address.png) left center no-repeat;
                        height: 90px;
                    }
                </style>
            </div>
            <div class="infoBanner threecol">
                <div class="parent contact-phone">
                    <div class="textInfoBanner">
                        Phone<br>
                        708.484.1119
                    </div>
                </div>
                <style>
                    div.contact-phone {
                        background: url({{ STATIC_URL }}community/elementos/contact-icon-phone.png) left center no-repeat;
                        height: 90px;
                    }
                </style>
            </div>
            <div class="infoBanner threecol">
                <div class="parent contact-mail">
                    <div class="textInfoBanner">
                        Email<br>
                        <a href="mailto:info@detourmaps.com">info@detourmaps.com</a>
                    </div>
                </div>
                <style>
                    div.contact-mail {
                        background: url({{ STATIC_URL }}community/elementos/contact-icon-email.png) left center no-repeat;
                        height: 90px;
                    }
                </style>
            </div>
            <div class="infoBanner threecol last">
                <div class="parent contact-skype">
                    <div class="textInfoBanner">
                        Skype<br>
                        detourmaps.emg
                    </div>
                </div>
                <style>
                    div.contact-skype {
                        background: url({{ STATIC_URL }}community/elementos/contact-icon-skype.png) left center no-repeat;
                        height: 90px;
                    }
                </style>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="twocol"></div>
            <div class="eightcol">
                <div class="formNewContact">
                    <h2 class="subTitleNewDesign">
                        Whatever you want to ask, we are happy to hear from you and we are always ready to give our best
                        answer.
                    </h2>

                    <form id="contactForm" method="post" action="">
                        {% csrf_token %}
                        <p class="inLine">
                            <label for="interested">I'm interested in ...</label>
                            <select name="interested" id="interested">
                                <option value="FA">Free Advertising</option>
                                <option value="DA">DetourMaps Advertising</option>
                                <option value="SC">$10 Savings Card</option>
                                <option value="GW">Graphic &amp; Web</option>
                                <option value="MT">Mobile Text</option>
                                <option value="SM">Social Media</option>
                                <option value="EB">Email Blast</option>
                                <option value="CP">Create Promotions</option>
                                <option value="PV">Photo &amp; Video</option>
                                <option value="SG">Suggestions</option>
                            </select>
                        </p>
                        <p class="inLine">
                            <label for="name_is">Name :</label>
                            <input type="text" name="name_is" id="name_is">
                        </p>

                        <p class="inLine">
                            <label for="email_is">Email :</label>
                            <input type="text" name="email_is" id="email_is">
                        </p>

                        <p class="inLine">
                            <label for="phones_is">Phone :</label>
                            <input type="text" name="phones_is" id="phones_is">
                        </p>

                        <p class="normalLine">
                            <label for="questions">Comments or Questions :</label>
                            <textarea id="questions" rows="10" cols="40" name="questions"></textarea>
                        </p>

                        <p class="submit">
                            <button id="btnContact">Send</button>
                        </p>
                    </form>
                </div>
                <div class="newSocialContact">
                    <ul>
                        <li>
                            Find us online:
                        </li>
                        <li><a href="http://www.facebook.com/pages/Detour-Maps/201444353199199"><img
                                src="{{ STATIC_URL }}community/evolution/icon-contact-facebook.png"/></a>
                        </li>
                        <li><a href="https://twitter.com/detourmaps"><img
                                src="{{ STATIC_URL }}community/evolution/icon-contact-twitter.png"/></a>
                        </li>
                        <li><a href="https://www.youtube.com/user/detourmapstv"><img
                                src="{{ STATIC_URL }}community/evolution/icon-contact-youtube.png"/></a>
                        </li>
                        <li><a href=""><img src="{{ STATIC_URL }}community/evolution/icon-contact-rss.png"/></a>
                        </li>
                        <li><a href="http://www.flickr.com/people/detourmaps/"><img
                                src="{{ STATIC_URL }}community/evolution/icon-contact-flickr.png"/></a></li>
                    </ul>
                </div>
            </div>
            <div class="twocol last"></div>
        </div>
    </div>
{% endblock %}
