{% extends "base-new.html" %}
{% block title %}Reset Password{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}community/css/dtmfront-evolution.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}community/css/style_home.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script defer type="text/javascript" src="/user/js/utils_sys"></script>
    <script src="/static/community/js/jquery.validate.min.js"></script>
    <script>
        $(document).ready(function () {
            // US Phone Validation
            $.validator.addMethod("phoneUS", function (phone_number, element) {
                phone_number = phone_number.replace(/\s+/g, "");
                return this.optional(element) || phone_number.length > 9 &&
                        phone_number.match(/^(1-?)?(\([2-9]\d{2}\)|[2-9]\d{2})-?[2-9]\d{2}-?\d{4}$/);
            }, "Please specify a valid phone number");
            // Coupons Form
            $('#couponRequestForm, #frmlogin').validate();
            $('#couponRequestForm').submit(function (e) {
                if ($('#couponRequestForm').valid() && !$('#mailCouponRequest').hasClass('disabled')) {
                    $('#mailCouponRequest').prop('disabled', true).addClass('disabled').css('opacity', 0.5);
                    $('#couponRequestForm p.submit .msg').html($('<img/>').attr('src', '{{ STATIC_URL }}web/img/loading.gif'));
                    $.post('{% url "web.views.couponsForm" %}', $('#couponRequestForm').serialize(), function (data) {
                        if (data = 'Thanks') {
                            $('#couponRequestForm p.submit .msg').text('Success! Check your email inbox.');
                        } else {
                            $('#mailCouponRequest').prop('disabled', false).removeClass('disabled').css('opacity', 1);
                            $('#couponRequestForm p.submit .msg').text('Error! Try again or call-us to 708 484 1119. We will be happy to help you!');
                        }
                    });
                }
                e.preventDefault();
            });
            $("#resetForm").validate({
                rules: {
                    email: {
                        required: true,
                        email: true
                    }
                },
                messages: {
                    email: {
                        required: "Please insert your email",
                        email: "Insert valid email"
                    }
                }
            });
            $("#resetForm").submit(function (e) {
                if ($("#resetForm").valid()) {
                    $.post('/user/reset-email', $("#resetForm").serialize(), function (data) {
                        new Messi(data, {title: 'DetourMaps - Register System', modal: true});
                    });
                }
                e.preventDefault();
            });
        });
    </script>
    <!--[if lt IE 9]>
            <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="{{ STATIC_URL }}community/js/search-home.js"></script>
    <style>
        body {
            background: #fff !important;
        }

        footer {
            position: relative !important;
            top: 0 !important;
        }

        .overmenu {
            z-index: 1000;
        }
    </style>
{% endblock %}
{% block bar-container %}{% endblock %}
{% block content %}
    <div style="width:595px;height:564px;padding: 30px 80px;margin-left: auto;margin-right: auto;position: relative; margin-top: 2%; margin-bottom: 2%;">
        <div>
            <img src="http://{{ request.META.HTTP_HOST }}/static/community/img/detourOrange.png"/>
        </div>
        <h1 style="font-weight: bold; font-size: 2.3em;text-transform: uppercase;color: #f48231;text-align: center;margin-top: 60px;">
            Your new password {{ user.username }}</h1>
        {% if email %}
            <p>Password: <span
                    style="font-weight: bold; font-size: 2.5em;color: #f48231;margin-top: 60px;font-family: Monaco;">{{ password|safe }}</span>
            </p>
            <span style="font-weight: bold; font-size: 1.2em;color: #f48231;margin-top: 60px;">
            <a href="http://{{ request.META.HTTP_HOST }}/user/newpassword?token={{ token }}"
               style="padding: 5px 15px;background-color: darkorange;border-radius: 5px;">Go to Customize your
                Password</a>
        </span>
        {% else %}
            <form id="frm_new_password" action="/user/newpassword" method="POST">
                <div>Custom Password:</div>
                <div><input class="inputLogin" id="frmlogin_email" type="hidden" name="user_email"
                            placeholder="Your Email" value="{{ user.email }}"></div>
                <div><input type="password" name="password" id="password" placeholder="New Password"></div>
                <div><input type="password" name="password_confirm" id="password_confirm"
                            placeholder="Confirm Password"></div>
                <div style="text-align: right;">
                    <button>Save Change</button>
                </div>
            </form>
            <script type="text/javascript">
                $(document).ready(function () {
                    $("#frm_new_password").validate({
                        rules: {
                            password: {
                                required: true,
                                minlength: 4
                            },
                            password_confirm: {
                                required: true,
                                minlength: 4,
                                equalTo: "#password"
                            }
                        }
                    });
                });
            </script>
        {% endif %}
        <div style="position: absolute;bottom: 19px;left: 58px;font-size: 0.9em;">www.detourmaps.com / customer support
            708-484-1119 / info@detourmaps.com
        </div>
    </div>
{% endblock %}