{% extends 'base-new.html' %}
{% block title %}DetourMaps - Privacy Policy{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}community/css/dtmfront-evolution.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}community/css/style_home.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}animation/style.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}web-icon/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}custom-theme/jquery-ui-1.10.3.custom.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}modal/jquery.modal.css" type="text/css" media="screen"/>
    <style type="text/css">
        body {
            background: #ffffff !important;
        }

        footer {
            position: relative !important;
            top: 0 !important;
            margin-top: 180px;
        }

        input:focus {
            background-color: #ffffff;
        }

        .overmenu {
            z-index: 10000;
        }

        .menuJoin li {
            width: 100%;
        }

        .menuJoin li a {
            text-align: left !important;
        }

        .pageContents {
            min-width: 748px;
            max-width: 1140px;
            margin: 0 auto;
            font-family: Verdana, Geneva, sans-serif;
        }

        .title {
            color: #F26f31;
            font-size: 1.3em;
            font-weight: 700;
        }

        .title p {
            margin: 0;
            padding-top: 4px;
        }

        .bodyUl {
            margin-left: 25px;
            font-size: .9em;
        }

        .subUl {
            font-size: .8em;
        }

        .para {
            font-size: 14px;
            width: 95%;
            line-height: 1.5em;
            padding-left: 30px;
        }

        .para span {
            font-weight: bold;
            font-size: 16px;
            color: #666;
        }

        .misc {
            padding-left: 25px;
            color: #59595C;
            background-color: #f2672c;
            border-radius: 25px;
            width: 87%;
            padding-bottom: 4px;
        }

        .miscH1 {
            color: #414042;
            width: 100%;
            padding-bottom: 4px;
            font-size: 55px;
        }
    </style>
{% endblock %}
{% block bar-container %}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="twelvecol last policy">
                <div class="pageContents">
                    <img src="{{ STATIC_URL }}community/css/images/privacy.png" width="55" height="55"
                         style="float:left; padding-top:10px; padding-right:10px;">

                    <h1 class="miscH1">Privacy Policy - Detour Maps</h1>

                    <p class="para">Updated: July 2014<br>
                        <br>
                        Detour Maps' Platform allows consumers to sign up and be up to date with their favorite
                        business' information. When signing up consumers/ users provide email information to sign in to
                        deoturmaps.com to download and receive special offers and operating a loyalty program. Detour
                        Maps (division of Entire Marketing Group LLC.) provides the technology ("the platform") that
                        runs Customer Connections services (the "Services") for merchants who are or become clients of
                        Detour Maps services ("Clients"). Detour Maps and its Clients respect the personal privacy of
                        the end users of the Services (such as individual consumers). This Privacy Policy describes how
                        Detour Maps uses the information of people who visit this website and how Detour Maps and its
                        Clients use information relating to consumers and other end users of the Services.<br>
                        <br>
                        This Privacy Policy applies to Detour Maps website (<a href="http://www.detourmaps.com">www.detourmaps.com</a>)
                        (the "Website"), to Detour Maps future app for mobile devices (the "Detour Maps App"), to Detour
                        Maps mobile website at Clients' sites, and to information submitted or uploaded to Detour Maps
                        by an end user (e.g., through Facebook, other social media sites or otherwise) or uploaded to
                        Detour Maps by a Client (each, a "Detour Maps Dashboard"). This Privacy Policy also applies to
                        information gathered by Detour Maps as end users use the Services, but it does not apply to any
                        other services or websites that may be offered by a Client, or to any third party sites that may
                        be accessible from the Detour Maps Dashboard or through the Services platform. Further, this
                        Privacy Policy does not apply to Facebook1, Twitter, or any other third party sites through
                        which the Services may be delivered. To understand how any third party treats your information
                        (including your information related to the Services), you should contact such third party or
                        read its privacy policy. We encourage you to read this entire Privacy Policy before using Detour
                        Maps' Website or the Services, or submitting or uploading information through any Detour Maps
                        Dashboard.<br>
                        <br>
                        Do not use the Website, the Detour Maps App, any other Detour Maps Dashboard or the Services if
                        you are unwilling to accept the terms and conditions of this Privacy Policy. By using any of
                        such Detour Maps dashboard or the Services, you agree to the terms of this Privacy Policy. When
                        you submit information to Detour Maps or use the Services, you consent to the collection,
                        storage, use, and disclosure of that information in accordance with this Privacy Policy.<br>
                        <br>
                        After reading this Privacy Policy, which is incorporated into and is a part of the Merchant
                        Terms (the Detour Maps Application Contract) and the <a
                                href="http://www.detourmaps.com/terms-and-conditions">User Terms of Service</a> ("User
                        Terms"), you will know:
                    <ul class="bodyUl">
                        <li>What information Detour Maps collects from you;</li>
                        <br>
                        <li>How Detour Maps and Clients use and may disclose information obtained through any of the
                            Detour Maps dashboard or the Services;
                        </li>
                        <br>
                        <li>What choices you have about how Detour Maps and Clients treat your information;</li>
                        <br>
                        <li>How Detour Maps and Clients protect your privacy;</li>
                        <br>
                        <li>What Detour Maps and Clients do about children visiting the Detour Maps Application; and
                        </li>
                        <br>
                        <li>How comments you may make are handled; and</li>
                        <br>
                        <li>How you can contact Detour Maps and Clients.</li>
                        <br>
                    </ul>
                    </p>
                    <div class="title"><p>Information Detour Maps and Clients Collect from You</p></div>
                    <p class="para"><span>Active Information Collection</span><br>
                    <ul class="bodyUl">
                        <li><b>From Clients and Prospective Clients.</b> Detour Maps (division under Entire Marketing
                            Group LLC) actively collects information from Clients and prospective Clients who visit
                            our Website or who become a Client by accepting the Merchant Terms, both
                            <ul class="subUl">
                                <li>(i) by permitting them to communicate directly with Detour Maps, via email or phone,
                                    or otherwise and
                                </li>
                                <li>(ii) when they sign up (on the Website or otherwise) to become a Detour Maps client
                                    or user.
                                </li>
                            </ul>
                            <br>
                            Some of the information that a Client or user submits that is required for such Client or
                            user to register to become a Client or user could identify the Client and its officers, such
                            as business name and address, type of business, telephone number, email address, zip code
                            and names of responsible officers or employees. We refer to such information as
                            "Identifiable Business Information." In addition, users may be asked to answer additional
                            questions that are optional ("Optional Information").<br>
                            <br>
                            We will inform Clients or users which questions are optional. If a Client does not submit
                            the required information to sign up for Detour Maps Services or Orange Deals or does not
                            accept the Merchant Terms or agree to operate in accordance with the User Terms and this
                            Privacy Policy in connection with the Services, Client or user will not be able to use the
                            Services.
                            <br>
                            <br>
                            When a Client uses Detour Maps Services, Detour Maps will collect information related to the
                            Client's business and customers, as described in the Merchant Terms, the related User
                            Terms and this Privacy Policy.
                        </li>
                        <br>
                        <li><b>From Consumers and Other End Users.</b> Detour Maps actively collects information from
                            our visitors both by asking specific questions, by allowing you to upload information
                            through other tools (such as Facebook Connect), and by permitting you to communicate
                            directly with us through the Website, via email or otherwise. If you sign up to use the
                            Services, via any Detour Maps service, or if a Client signs you up for it's the Orange Deals
                            Program, some of the information that you submit (directly or via an upload), or that is
                            submitted for you by a Client, is required to register you to use the Services. Some of such
                            information could identify you personally, such as your first and/or last name, telephone
                            number, email address, zip code and possibly more. Such information is called "Personally
                            Identifiable Information." In addition, you may answer additional questions on the
                            registration form that are optional, or a Client may submit such information for you
                            ("Optional Information"). Such optional questions may include demographic information and/or
                            additional Personally Identifiable Information, such as your name (if not previously
                            provided), gender, financial information or other information.
                        </li>
                        <br>
                        <li><b>Types of Information We Collect.</b> We will collect information, including Personal
                            Information and Non-Identifying Information, when you interact with us and the Site, for
                            example when you:
                            <ul class="subUl">
                                <li>access or use the Site;</li>
                                <li>register, subscribe, or create an account with Detour Maps;</li>
                                <li>open or respond to our e-mails;</li>
                                <li>provide information to enroll or participate in programs provided on behalf of, or
                                    together with, Business Partners;
                                </li>
                                <li>visit any page online that displays our ads or content;</li>
                                <li>connect or link to any Site via social networking sites;</li>
                                <li>post comments to Online Communities</li>
                            </ul>
                            <br>
                            <br>

                            This Privacy Statement does not apply to the collection of information in any way other than
                            as listed above.
                        </li>
                        <br>
                    </ul>
                    </p>
                    <p class="para">
                        We think that you benefit from a more personalized experience when we know more about you and
                        what you like. However, you can limit the information you provide to Detour Maps, and you can
                        limit the communications that Detour Maps sends to you (some information is required to be a
                        member).<br>
                        <br>

                        You can manage your email and notice preferences by logging into your dashboard account through
                        the Detour Maps website, or via the Detour Maps mobile & application. You can also manage your
                        subscriptions by following subscription management instructions contained in the commercial
                        e-mails that we send you. You may choose to subscribe to some types of messages, and may choose
                        to unsubscribe from others. You may update your subscription preferences at any time. Please
                        note that even if you unsubscribe from promotional email messages, we may still need to contact
                        you with other important information related to your account and your deals. For example, even
                        if you have unsubscribed from our promotional email messages, we will still send you
                        confirmations when you make downloads and referrals through Orange Deals on the Site.<br>
                        <br>

                        You may manage how your browser handles Cookies by adjusting its privacy and security settings.
                        Browsers are different, so refer to instructions related to your browser to learn about
                        cookie-related and other privacy and security settings that may be available. You can opt-out of
                        being targeted by certain Third-Party Ad-Servers online using the National Advertising
                        Initiative's Opt-Out Tool, or on TRUSTe's site (Not related to Detour Maps or any partner
                        companies).<br>
                        <br>

                        You may manage how your mobile device and mobile browser share certain Data with Detour Maps, as
                        well as how your mobile browser handles Cookies by adjusting the privacy and security settings
                        on your mobile device. Please refer to instructions provided by your mobile service provider or
                        the manufacturer of your device to learn how to adjust your settings.<br>
                        <br>

                        If you wish to opt out of receiving offers directly from our Business Partners, you can follow
                        the opt-out instructions in the emails that they send you.<br>
                        <br>

                        You will be informed which information on the registration form is optional. If you do not
                        submit the required registration information or a Client does not submit it for you, you will
                        not be able to use the Services. If you do not answer optional questions, you still can use the
                        website, but you will not be able use the Orange Deals, download coupons or earn rewards that
                        may be awarded to people who answer the optional questions and we may not be able to tailor the
                        Services as closely to your interests.<br>
                        <br>

                        Detour Maps and Client may offer you, directly or through Facebook, Twitter, other social media
                        sites, or other third parties, the opportunity to participate in activities related to the
                        Services, such as responding to surveys, entering a contest or sweepstakes, playing games or
                        providing information to our customer service representatives. If you choose to participate in
                        such activities (when offered) detour Maps or Clients may collect additional Personally
                        Identifiable Information or other information from you.<br>
                        <br>

                        When you visit the Website, the Detour Maps App, use the Services, or participate in activities
                        that are part of the Services, Detour Maps and Clients may collect information related to such
                        activities. Detour Maps does not intentionally collect Personally Identifiable Information about
                        you other than (i) such information that you provide us as described above, either directly
                        through Detour Maps or through permissions you authorize with social media sites which are used
                        in conjunction with the Services (e.g., Facebook, Twitter and other sites), or (ii) information
                        submitted to Detour Maps for you by one or more Clients. Detour Maps may, however, keep track of
                        your responses to Offers, visits to and purchases from Clients and associate that information
                        with your registration information, including your Personally Identifiable Information (see
                        "Program Information Collection," below).<br>
                        <br>
                    </p>

                    <p class="para"><span>Passive Information Collection</span><br>
                        <br>

                        As you navigate through the Website or the Detour Maps mobile site, App or use the Services,
                        Detour Maps may collect certain information passively (that is, information may be gathered
                        without you actively providing the information) using various technologies and means, such as
                        navigational data collection and geolocation data. Like most website operators, Detour Maps, its
                        advertisers and third party service providers may track IP addresses, use both session and
                        persistent cookies, and assign Internet tags. Detour Maps also automatically gathers information
                        about the areas you visit on the Website and the Detour Maps mobile site and or App and collects
                        operational information about the technology you use, such as your browser, type of computer or
                        mobile device, operating systems, Internet service provider and the domain names of the websites
                        from which you linked to the Website or the Detour Maps mobile site or App and to which you go
                        after viewing such sites. If you activate geolocation applications, Detour Maps may have access
                        to and store your geolocation information related to the Services.<br>
                        <br>
                        The Website , mobile site and App may contain electronic images known as web beacons—also
                        referred to as single-pixel gifs—that permit Detour Maps and/or its Clients to count users who
                        have visited for other related statistics—(e.g., recording the popularity of
                        certain Website mobile site or app content and verifying system and server integrity). <br>
                        <br>
                        The reason Detour Maps collects passive information is that it helps us understand which areas
                        of the Website, mobile site or App are most popular, which areas may require improvement and
                        what technologies are being used by our visitors. This information helps Detour Maps to update
                        and improve services. Detour Maps also uses this information for security purposes, to detect
                        and to block security breaches and to provide you with a safer online environment.<br>
                        <br>
                        <span>Program Information Collection</span><br>
                        <br>
                        After you register with Detour Maps (through Detour Maps Dashboard) or are registered by a
                        Client, you may receive Offers from one or more Clients; may have such Offers sent to you
                        automatically via email, mobile communications (e.g., SMS text messaging, mobile notifications),
                        Facebook, Twitter or other social media; may be able to post those Offers on your own Facebook
                        page to share with your friends; and/or may be able to use other tools offered by Detour Maps.
                        Detour Maps may automatically keep track of all of those choices and associate them with the
                        registration information you provided or that was provided for you by a Client, including your
                        Personally Identifiable Information, plus any Optional Information you (or a Client on your
                        behalf) may have provided. Detour Maps may also keep track of, and associate with your
                        Personally Identifiable Information and Optional Information, activities you engage in offline
                        that relate to the Services, such as which Offers you respond to (for example, by purchasing the
                        goods or services that are the subject of the Offer) and loyalty rewards you earn from offline
                        purchases. All of the information described in this paragraph is called "Client Participation
                        Data." Detour Maps may use Client Participation Data for a number of purposes, including keeping
                        track of Orange Deals (if offered by the Client), categorizing you with respect to your response
                        to Offers and Orange Deals programs of each Client, and marketing goods or services of Clients,
                        Detour Maps or third parties to you, as described in Section 2. Detour Maps will offer you the
                        option not to receive such marketing messages.<br>
                        <br>
                        In addition to the foregoing, Detour Maps will have access to information regarding your
                        registration with and participation in the Offers and loyalty programs offered by participating
                        Clients for which, or by which, you are registered ("Orange Deals/ Dashboard Data"). Program
                        Participation Data may be used by Detour Maps to keep track of Orange Deals that you have
                        accrued with each Client Detour Maps works with, which may allow you to check all of those
                        programs you are enrolled in on one page of the Website. Detour Maps may also use Program
                        Participation Data for purposes such as categorizing you with respect to various merchants or
                        types of merchants, Offers and loyalty programs and for sending you marketing messages for goods
                        or services of Detour Maps or other merchants or service providers. Program Participation Data
                        may enable Detour Maps to market third party goods and services to you, as described in Section
                        2. Detour Maps will offer you the option not to receive such marketing messages. <br>
                        <br>
                    </p>

                    <div class="title"><p>How Detour Maps and Clients use and may disclose information obtained through
                        the Services</p></div>
                    <p class="para">
                        <span>Internal Use of Personally Identifiable Information.</span><br>
                        <br>
                        Except as otherwise stated, Detour Maps may use information collected via any Detour Maps
                        Dashboard or the Services to improve the content of the Website and the Detour Maps App, the
                        Services (or similar or related services), to customize the Website and the Detour Maps App to
                        your preferences, to communicate information to you if you have requested it (such as your
                        accrued rewards points), for our marketing and research purposes (including marketing other
                        services provided by Detour Maps, Clients or third parties), and for any other purpose specified
                        in this Privacy Policy. You can opt out of receiving such marketing messages through the
                        "Settings" tab in the Detour Maps App and by choosing the opt-out option provided in email
                        messages.<br>
                        <br>
                        You provide Personally Identifiable Information when you register for the Services through any
                        Detour Maps Dashboard (for example, on the registration page or through an upload you
                        authorize), and a Client may send Detour Maps such information for you. Detour Maps may combine
                        any such information with Client Participation Data and/or Program Participation Data, as
                        described in Section 1 under the heading "Program Information Collection."<br>
                        <br>
                        Detour Maps may provide Personally Identifiable Information and Optional Information you have
                        provided to Detour Maps (directly or through an upload), or that has been submitted to Detour
                        Maps by a Client on your behalf, to certain Clients with which (or by which) you are registered,
                        and that have been permitted such information access by Detour Maps. When and if permitted by
                        Detour Maps, such Clients may use that information to send you messages, independently of the
                        Services, about their goods and services and about the goods and services of other merchants. If
                        you do not wish to receive such messages you may opt out of receiving them by choosing the
                        opt-out option provided in such messages. All Clients granted such permission by Detour Maps
                        will agree not to provide your Personally Identifiable Information or Optional Information to
                        third parties except as described in the next section.<br>
                        <br>

                        <span>Limited Disclosure of Personally Identifiable Information to Third Parties.</span><br>
                        <br>
                        Detour Maps will not disclose Identifiable Business Information or Personally Identifiable
                        Information provided by end users or Clients or that Detour Maps collects in conjunction with
                        the Services, to third parties (i.e., to parties other than Clients with which (or by which) an
                        end user is registered) without consent, except as described below. Clients have also agreed to
                        limit disclosure of end users' Personally Identifiable Information to the following:
                    <ul class="bodyUl">
                        <li>(A) to contractors or service providers Detour Maps or a Client uses to support its business
                            (such as programming, providing technical support, enhancing data usage, analyzing data
                            and/or assisting with marketing, customer service and other administrative tasks), and only
                            if Detour Maps or the Client providing the information understands that such third parties
                            will treat your personal information consistently with this Privacy Policy;
                        </li>
                        <br>
                        <li>
                            (B) in the event of a sale, merger, liquidation, dissolution, reorganization, assignment, or
                            other transfer of stock or the business of a Client and/or Detour Maps, respectively ("Sale
                            of Business"). In the case of any Sale of Business, it is the obligation of the buyer to use
                            the information of Clients and/or end users collected by Detour Maps in accordance with this
                            Privacy Policy. If the buyer changes this privacy policy it should do so only prospectively
                            and after providing Clients and/or end users, as applicable, notice of the change;
                        </li>
                        <br>
                        <li>
                            (C) if required by law or in response to any judicial order, inquiry of any administrative
                            agency; in response to a subpoena or an inquiry from law enforcement or governmental
                            authorities; or
                        </li>
                        <br>
                        <li>
                            (D) if Detour Maps or a Client believes the release of such information is necessary to
                            protect the rights of Detour Maps or the Client (including enforcing the Merchant Terms or
                            User Terms) or to address or prevent illegal or harmful activity.
                        </li>
                        <br>
                    </ul>
                    </p>
                    <p class="para">
                        Other than as described above, Detour Maps does not distribute Identifiable Business Information
                        or Personally Identifiable Information to third parties, and Clients have agreed not to do so
                        either. However, you understand that if you access the Services through Facebook or any other
                        third party platforms, Facebook or the operator of such platforms will have access to your
                        registration information and other information generated by your use of the Services, which may
                        be aggregated with other information about you accessible to Facebook or the operator of such
                        platforms, and may be stored and used by them, subject to the applicable privacy policy.<br>
                        <br>

                        Neither any Client nor Detour Maps will have any liability for disclosure of your information
                        resulting from actions by Facebook or other social media companies or platforms, or from errors
                        in transmission or the unauthorized intervention of third parties.
                        <br>
                        <br>
                        <span>Information that Does Not Identify Your Business or You Personally.</span><br>
                        <br>
                        Detour Maps may provide aggregate statistics or information about its customers, sales, trends,
                        loyalty program usage, online traffic patterns, related information or other statistical
                        de-identified or aggregated information to third parties, but these statistics or information
                        will not include any Identifiable Business Information or Personally Identifiable Information
                        ("Non-Identifying Information"). Non-Identifying Information collected about end users, Clients
                        and prospective Clients is also used by Detour Maps and/or third parties we contract with to
                        troubleshoot, operate and improve the Website, the Detour Maps App and other Detour Maps
                        Technology, to assist us with marketing or ad placement, to cooperate with law enforcement
                        activities or legal orders, to protect our rights (including enforcing the Merchant
                        Terms and User Terms) or to address or prevent illegal or harmful activity. In addition, Detour
                        Maps may use all information submitted by end users, Clients or prospective Clients or that
                        Detour Maps collects about any of the foregoing that is Non-Identifying Information in any way
                        Detour Maps deems useful, including publishing statistics such as those described above to
                        promote Detour Maps or its Services.<br>
                        <br>
                        <span>Remarketing</span><br>
                        <br>
                        Detour Maps may use information that end users provide or that Detour Maps collects about end
                        users from their use of the Services or related to the Detour Maps Technology, including their
                        response to Offers from Clients, their participation in the rewards programs of Clients (if any)
                        and/or other information, to send end users marketing messages related to goods or services
                        Detour Maps believes will be of interest to them. Such goods or services may be offered by
                        Detour Maps, Clients, or other third parties. (See description in Section 1, under "Program
                        Information Collection."). Such marketing messages may be sent via email, mobile communications,
                        Facebook, Twitter, other social media or otherwise, depending on how the end user has elected to
                        receive Notes from various Clients. End users can opt out of receiving such marketing messages.
                    </p><br>

                    <h3 class="title">How Your Information is Protected</h3>

                    <p class="para">Detour Maps works hard to protect the personal information of end users, using both
                        technical and procedural methods to maintain the integrity and security of our databases. These
                        include the use of SSL encryption, firewalls, administrative access level controls and employee
                        training. End users should keep in mind, however, that no Internet transmission or data storage
                        is ever completely secure or error-free. While Detour Maps believes it uses commercially
                        reasonable security procedures, it cannot guarantee the security of any information submitted by
                        end users, Clients or prospective Clients, information gathered about end users or information
                        stored by Detour Maps.<br>
                        <br>
                        Each Client has agreed to abide by this Privacy Policy. Detour Maps is not responsible for
                        Clients' compliance with this Privacy Policy or for Clients' security policies and practices.
                        Each end user acknowledges and agrees that Detour Maps has no responsibility or liability for
                        the security policies or practices of any Client, or for any security breach of any Client's
                        systems or databases. Neither Detour Maps nor any Client is responsible for the actions of any
                        third party, including but not limited to Facebook, other social media sites or other sites,
                        with whom information about you may be shared or who may otherwise obtain such information.<br>
                        <br>
                        The safety and security of information of Clients and end users also depends on the user.
                        Clients and end users should never share their Detour Maps passwords, or any other password
                        (including their Facebook passwords), with anyone else, and should notify Detour Maps, Facebook
                        or other relevant provider promptly if you believe your password security has been breached.
                        Remember to log off of the Website , mobile site or app before you leave your computer or mobile
                        device.<br>
                        <br>
                        The Detour Maps Website, dashboard, mobile site and app or other sites through which end users
                        may use the Services may contain links to other sites and/or resources over which Detour Maps
                        and Clients have no control. Detour Maps and Clients make no representations or warranties with
                        respect to the content, ownership, or legality of any such linked sites. Links to third party
                        sites are provided solely as a convenience to end users and should not be construed as an
                        affiliation with or endorsement by Detour Maps or Clients of such third parties or any content,
                        items, or services on third-party sites. Access and use of such other sites, including the
                        content, items, or services on those sites, solely at the risk of the user, and neither Detour
                        Maps nor any Client has any responsibility or liability resulting from users' access or use of
                        such other sites. These linked sites may collect personal information from users when entering
                        their site. Any such collecting of information is not subject to the control of Detour Maps or
                        any Client. To ensure protection of privacy, users should always review the privacy policies of
                        the sites they visit when linking from the Website, mobile site, app, and or any other site
                        associated with the Services.<br>
                        <br>
                        End users acknowledge and agree that neither Detour Maps nor any Client has any responsibility
                        or liability for the availability of such external sites or resources, or for the content,
                        advertising, products, or other materials available through such sites or resources.<br>
                        <br>
                    </p>

                    <h3 class="title">What Detour Maps and Clients Do About Children Visiting the Detour Maps
                        Application</h3>

                    <p class="para">The Detour Maps Website, mobile site, app and the Services are not intended for
                        children under the age of 13 and are not designed to attract anyone under the age of 13. Clients
                        who use Detour Maps's Services may sell goods or services for children that are intended to be
                        purchased by adults. Detour Maps will not knowingly collect Personally Identifiable Information
                        from site visitors under the age of 13, and Clients have agreed that they will not knowingly
                        collect such information. Detour Maps and Clients encourage parents to talk to their children,
                        including children between the ages of 12 and 18, about their use of the Internet and the
                        information they disclose online. If a child of any age has provided Detour Maps with Personally
                        Identifiable Information, and a parent or guardian of that child would like this information
                        deleted from Detour Maps's records, such parent or guardian may contact Detour Maps by going to
                        the Website and clicking on the contact us page. You can email or call us to submit the request.
                        Detour Maps will then use reasonable efforts to delete the child's information from our
                        databases.
                        <br>
                    </p>
                    </ul>
                    <h3 class="title">Contacting Detour Maps</h3>

                    <p class="para">Questions, comments or concerns about this Privacy Policy or the information
                        practices of this site, should be addressed to:
                        <br>
                        <br>
                        <b>Detour Maps, Inc.<br>
                            6428 S. Pulaski Rd<br>
                            Chicago, IL 60629<br>
                            708-484-1119<br>
                            detourcommunitymaps@gmail.com</b><br>
                        <br>
                        or directly to the Client to which such questions, comments or concerns relate. Please review
                        this Privacy Policy carefully. If you do not agree with this Privacy Policy, your ultimate
                        choice is not to use the Services. Remember, by registering with Detour Maps or using any part
                        of the Services (whether you registered for them or a client registered you with Detour Maps),
                        you accept and agree to the privacy practices described in this Privacy Policy.<br>
                        <br>
                        Clients agree that this Privacy Policy is incorporated by reference with the Merchant Terms. End
                        users agree that that this Privacy Policy is incorporated by reference into the User Terms. By
                        visiting the Website, using any of the Detour Maps dashboards, or using the Services (whether
                        you registered for them or a client registered you with Detour Maps), you accept that any
                        dispute over privacy is subject to this Privacy Policy and the Merchant Terms or User Terms (as
                        applicable), including but not limited to limitations on liability, disclaimers of damages,
                        releases, waivers and application of the law of the State of Illinois. If you have any concern
                        about privacy issues, please contact Detour Maps as directed above.<br>
                        <br>
                        Detour Maps and Clients reserve the right to update this Privacy Policy at any time. If this
                        Privacy Policy is materially changed, the revised policy, or a notice that the policy has been
                        revised, will be posted on the Detour Maps Website and the Detour Maps App. You are responsible
                        for periodically reviewing the Privacy Policy, and should do so frequently, especially before
                        you provide any Identifiable Business Information or Personally Identifiable Information. When
                        Detour Maps changes this Privacy Policy, we will also revise the "last updated" date at the end
                        of this Privacy Policy. If Detour Maps updates this Privacy Policy, continued use of the
                        Services (following the posting of the revised Privacy Policy) means that you accept and agree
                        to the terms of the revised Privacy Policy. Detour Maps recommends that you periodically review
                        this Privacy Policy.<br>
                        <br>
                        This Privacy Policy was last updated on July, 2014.<br>
                        <br>
                    </p>
                </div>

            </div>
        </div>
    </div>
{% endblock %}