{% extends "base-new.html" %}
{% block title %}Reset Password{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}community/css/dtmfront-evolution.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}community/css/style_home.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script defer type="text/javascript" src="/user/js/utils_sys"></script>
    <script src="/static/community/js/jquery.validate.min.js"></script>
    <script>
        $(document).ready(function () {
            // US Phone Validation
            $.validator.addMethod("phoneUS", function (phone_number, element) {
                phone_number = phone_number.replace(/\s+/g, "");
                return this.optional(element) || phone_number.length > 9 &&
                        phone_number.match(/^(1-?)?(\([2-9]\d{2}\)|[2-9]\d{2})-?[2-9]\d{2}-?\d{4}$/);
            }, "Please specify a valid phone number");
            // Coupons Form
            $('#couponRequestForm, #frmlogin').validate();
            $('#couponRequestForm').submit(function (e) {
                if ($('#couponRequestForm').valid() && !$('#mailCouponRequest').hasClass('disabled')) {
                    $('#mailCouponRequest').prop('disabled', true).addClass('disabled').css('opacity', 0.5);
                    $('#couponRequestForm p.submit .msg').html($('<img/>').attr('src', '{{ STATIC_URL }}web/img/loading.gif'));
                    $.post('{% url "web.views.couponsForm" %}', $('#couponRequestForm').serialize(), function (data) {
                        if (data = 'Thanks') {
                            $('#couponRequestForm p.submit .msg').text('Success! Check your email inbox.');
                        } else {
                            $('#mailCouponRequest').prop('disabled', false).removeClass('disabled').css('opacity', 1);
                            $('#couponRequestForm p.submit .msg').text('Error! Try again or call-us to 708 484 1119. We will be happy to help you!');
                        }
                    });
                }
                e.preventDefault();
            });
            $("#resetForm").validate({
                rules: {
                    email: {
                        required: true,
                        email: true
                    }
                },
                messages: {
                    email: {
                        required: "Please insert your email",
                        email: "Insert valid email"
                    }
                }
            });
            $("#resetForm").submit(function (e) {
                if ($("#resetForm").valid()) {
                    $.post('/user/reset-email', $("#resetForm").serialize(), function (data) {
                        new Messi(data, {title: 'DetourMaps - Reset System', modal: true});
                    });
                }
                e.preventDefault();
            });
        });
    </script>
    <!--[if lt IE 9]>
            <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="{{ STATIC_URL }}community/js/search-home.js"></script>
    <style>
        body {
            background: #fff !important;
        }

        footer {
            position: relative !important;
            top: 0 !important;
        }

        .overmenu {
            z-index: 1000;
        }
    </style>
{% endblock %}
{% block bar-container %}{% endblock %}
{% block content %}
    <div id="your-account">
        <h1>Please insert your email</h1>

        <form id="resetForm">
            <label>Your email account:</label>
            <input type="email" name="email"/>
            <button>Reset your password</button>
        </form>
    </div>
{% endblock %}