{% extends "base.html" %}
{% block title %}Testimonials{% endblock %}
{% block bodyname %}testimonials-page{% endblock %}
{% block content %}
    <div class="container main">
        <div class="row internal">
            <div class="sixcol">
                <div class="testimonial">
                    <p class="quote">&#8220;</p>
                    <p><b>Evoluzion Alternative Health Inc.</b>
                        highly recommends Detour Maps as first in its class with
                        creative and effective tools use for branding your own
                        business, reaching to your community and/or simply
                        receiving professional mentoring guidance from marketing
                        experts. Let Detour engineer your concept, just look at Us!!!</p>
                    <p class="client">
                        <img src="{{ STATIC_URL }}web/img/logos/Evoluzion_Alternative_Healt_logo.png" alt="Evoluzion Alternative Healt">
                        <b>Gabriela H. Ardila</b> - President/Founder
                    </p>
                </div>
                <div class="testimonial btm">
                    <p class="quote">&#8220;</p>
                    <p>Detour Maps provide a unique opportunity of building
                        community image while local businesses benefit  from low
                        cost advertising strategies.</p>
                    <p class="client">
                        <img src="{{ STATIC_URL }}web/img/logos/Greater_South_West_logo.png" alt="Greater South West">
                        <b>Nick Kollias</b> - Commercial Director, GSDC
                    </p>
                </div>
            </div>
            <div class="sixcol last fill">
            </div>
        </div>
    </div>
{% endblock %}