<div class="singleTop">
    <div id="carouselFull" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li ng-repeat="image in bizInfo.img" ng-class="{ active: $first }" data-target="#carouselFull" data-slide-to="[[ $index ]]"></li>

        </ol>
        <div class="carousel-inner">
            <div class="item" ng-repeat="img in bizInfo.img" ng-class="{ active: $first }">
                <img src="/media/[[ img.img ]]" alt="[[ img.name ]]">
                <div class="container">
                    <div class="carousel-caption">

                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#carouselFull" role="button" data-slide="prev"><span class="fa fa-chevron-left"></span></a>
        <a class="right carousel-control" href="#carouselFull" role="button" data-slide="next"><span class="fa fa-chevron-right"></span></a>
    </div>
    <div class="summary">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="summaryItem">
                    <div class="row">
                        <div class="col-xs-12 sm-12 col-md-12 col-lg-12">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                    <div class="pull-left">
                                        <h2>[[ bizInfo.name ]]</h2>
                                        <h3><img src="{{ STATIC_URL }}images/marker-icon.png" alt="Marker"> [[ bizInfo.address ]]</h3>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                    <div class="pull-left" style="margin-top: 30px;">
                                        <p>[[ bizInfo.phones ]]</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="propRating">
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="navcenter">
                                <a href="" class="arrow left"><img src="{{ STATIC_URL }}images/arrow-left-icon.png" alt="left"></a>
                                <div class="navbtn">
                                    <div class="rowbtn">
                                        <a href="" class="btninfo"><img src="{{ STATIC_URL }}images/info-icon-slide.png" alt="Info">Info</a>
                                        <a href="" class="btninfo"><img src="{{ STATIC_URL }}images/deals-icon-slide.png" alt="Deals">Deals</a>
                                        <a href="" class="btninfo"><img src="{{ STATIC_URL }}images/share-icon-slide.png" alt="Share">Share</a>
                                        <a href="" class="btninfo"><img src="{{ STATIC_URL }}images/services-icon-slide.png" alt="Services">Services</a>
                                        <a href="" class="btninfo"><img src="{{ STATIC_URL }}images/services-icon-slide.png" alt="Services">Services</a>
                                        <a href="" class="btninfo"><img src="{{ STATIC_URL }}images/video-icon-slide.png" alt="Video">Video</a>
                                        <a href="" class="btninfo"><img src="{{ STATIC_URL }}images/events-icon-slide.png" alt="Events">Events</a>
                                        <a href="" class="btninfo"><img src="{{ STATIC_URL }}images/directions-icon-slide.png" alt="Directions">Directions</a>
                                    </div>
                                </div>
                                <a href="" class="arrow right"><img src="{{ STATIC_URL }}images/arrow-right-icon.png" alt="right"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="contentBusiness">
    <div class="row contentbiz">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3>Description</h3>
            <p>[[ bizInfo.description ]]</p>
        </div>
    </div>
    <div class="row contentbiz">
       <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3>Orange Deals</h3>
            <div class="navdeals">
                <a href="" class="btndeal"><img src="{{ STATIC_URL }}images/smart-buys-icon.png" alt="Smart Buys"></a>
                <a href="" class="btndeal"><img src="{{ STATIC_URL }}images/10-off-icon.png" alt="10 Off"></a>
                <a href="" class="btndeal"><img src="{{ STATIC_URL }}images/10-visits-icon.png" alt="10 Visits"></a>
                <a href="" class="btndeal"><img src="{{ STATIC_URL }}images/525-icon.png" alt="5 = 25 Refer Friends"></a>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="smart-buys" ng-show="bizInfo.smart_buys==true">
                    <div class="rollsmart">
                        <div class="panel-smart">
                            <header>
                                <h4>Smart Buys / Not Your Ordinary Coupons</h4>
                                <p>Smart Buys are exclusive offers created by local businesses to offer you the best deals  and discounts</p>
                            </header>
                            <main>
                                <figure ng-show="bizInfo.smart_buys==true"><img src="/media/[[ bizInfo.coupon.img]]" alt="Coupon [[ bizInfo.name ]]"></figure>
                                <figure ng-hide="bizInfo.smart_buys==true"><img src="/static/community/evolution/coupon-placement.png" alt="No Deal"></figure>
                            </main>
                        </div>
                        <div class="panel-smart">
                            <div class="modal fade" id="loginusersmart" style="display: none;" role="dialog" tabindex="-1">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="topBar">
                                            <img src="{{ STATIC_URL }}community/evolution/images/userWhite.png" width="35" height="38" style="padding-top:7px;">
                                            <p>Login</p>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        </div>
                                        <div class="inside">
                                            <form id="loginuser" action="" class="loginfrm" method="post" ng-submit="login()">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <label for="email">E-mail</label>
                                                        <input type="email" placeholder="" name="user_email" id="email" class="required email form-control" ng-model="formLogin.user_email">
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <label for="password">Password<a href="" class="menuinside" ng-click="forgot()"><span
                                    style="font-size:11px; color:#2cadb0; padding-left:10px;">Forgot Password?</span></a>
                                                        </label>
                                                        <input type="password" placeholder="" name="user_password" id="password" class="required form-control" ng-model="formLogin.user_password">
                                                    </div>
                                                </div>
                                                <p ng-hide="actionconfirm===true">[[ message ]]</p>
                                                <p class="actionconfirm" ng-hide="actionconfirm===false">[[ message ]]. Please wait ...<i class="fa fa-spinner fa-spin"></i></p>
                                                <ul class="submit list-inline">
                                                    <li>
                                                        <button class="btn btn-primary btnlogin">Log In
                                                        </button>
                                                    </li>
                                                    <li>
                                                        <a href="" class="btncreate" ng-click="createaccount()">Create an Account
                                                        </a>
                                                    </li>
                                                </ul>
                                            </form>
                                            <div class="otheraccess">
                                                <p>Or log in with</p>
                                                <ul class="list-inline">
                                                    <li>
                                                        <a href="#"><img src="{{ STATIC_URL }}community/evolution/images/fbLogin.png" width="110" height="27" style="padding-right:20px;">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><img src="{{ STATIC_URL }}community/evolution/images/g+Login.png" width="110" height="27">
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-smart">
                           <div class="modal fade" id="signsmart" style="display: none;" role="dialog" tabindex="-1">
                              <div class="modal-dialog">
                                  <div class="modal-content">
                                       <div class="topBar">
                                            <img src="{{ STATIC_URL }}community/evolution/images/userWhite.png" width="35" height="38" style="padding-top:7px;">
                                            <p>Create an Account</p>
                                        </div>
                                        <div class="inside">
                                            <form id="signUp" action="" method="post" ng-submit="signup()">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <label for="firstname">First Name</label>
                                                        <input type="text" name="firstname" id="firstname" required class="form-control" ng-model="formsign.firstname">
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <label for="lastname">Last Name</label>
                                                        <input type="text" name="lastname" id="lastname" required class="form-control" ng-model="formsign.lastname">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <label for="email">E-mail</label>
                                                        <input type="email" placeholder="" name="emailuserdeal" id="email"
                                                               class="required email form-control" ng-model="formsign.emailuserdeal">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <p class="col-lg-12">By signing up, I agree to the <a
                                                            href="{% url 'terms' %}"
                                                            target="_blank" style="text-decoration:underline;">terms of
                                                        service</a>
                                                    </p>

                                                    <p class="submit col-lg-12">
                                                        <button class="btn btn-primary btnsignup">Sign Up
                                                        </button>
                                                    </p>
                                                </div>
                                            </form>
                                        </div>
                                        <p class="actionconfirm" ng-hide="actionconfirm===false">[[ message ]]. Please wait ...<i class="fa fa-spinner fa-spin"></i></p>
                                        <div class="inside2">
                                            <p style="font-size:10px;margin: 0;">Check your e-mail to get
                                                your temporary password</p>
                                        </div>
                                  </div>
                              </div>
                           </div>
                        </div>
                        <div class="panel-smart">
                            <div class="modal fade" id="forgotsmart" style="display: none;" role="dialog" tabindex="-1">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="popup" id="forgotsmart">

                                        </div>
                                        <div class="topBar">
                                            <img src="{{ STATIC_URL }}community/evolution/images/userWhite.png" width="35" height="38" style="padding-top:7px;">

                                            <p>Forgot Password</p>
                                        </div>
                                        <div class="inside">
                                            <p style="font-size:12px;">Please insert your e-mail and receive an email with new temporary password</p>

                                            <form id="forgotpass" action="" method="post" class="loginfrm" ng-submit="newpass()">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <label for="email">E-mail</label>
                                                        <input type="email" placeholder="" name="user_email" id="forgot_email"
                                                               class="required email form-control" ng-model="formforgot.user_email">
                                                    </div>
                                                </div>
                                                <p class="actionconfirm" ng-hide="actionconfirm===false">[[ message ]]. Please wait ...<i class="fa fa-spinner fa-spin"></i></p>
                                                <p class="submit">
                                                    <button class="btn btn-primary btnforgot">Send Password
                                                    </button>
                                                </p>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-smart">
                            <div class="modal fade" id="passwordsmart" style="display: none;" role="dialog" tabindex="-1">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="topBar">
                                            <img src="{{ STATIC_URL }}community/evolution/images/userWhite.png" width="35" height="38" style="padding-top:7px;">
                                            <p>Change Password</p>
                                        </div>
                                        <div class="inside">
                                            <p style="font-size:12px;">Please retrieve your temporary password from your
                                                e-mail and change it</p>

                                            <form id="passChange" action="" method="post" class="loginfrm" ng-submit="reset()">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <label for="oldPass">Temporary Password</label>
                                                        <input type="password" placeholder="" name="old_password" id="oldPass"
                                                               class="required form-control" ng-model="formreset.old_password">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <label for="newPass">New Password</label>
                                                        <input type="password" placeholder="" name="new_password" id="newPass"
                                                               class="required form-control" ng-model="formreset.new_password">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <label for="reNewPass">Re-type New Password</label>
                                                        <input type="password" placeholder="" name="reNewPass" id="reNewPass"
                                                               class="required form-control" ng-model="formreset.reNewPass">
                                                    </div>
                                                </div>
                                                <input type="hidden" name="user_id" value="" id="user_id"/>
                                                <p class="actionconfirm" ng-hide="actionconfirm===false">[[ message ]]. Please wait ...<i class="fa fa-spinner fa-spin"></i></p>
                                                <p class="submit">
                                                    <button class="btn btn-primary btnpassword">Save Password
                                                    </button>
                                                </p>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-smart">
                            <div class="getpromo" ng-show="promo.show==true">
                                <header>
                                    <h1 class="text-center">[[ bizInfo.coupon.name ]]</h1>
                                    <p class="text-center">(Must present phone or print coupon at time of purchase)</p>
                                    <ul class="list-inline text-center">
                                        <li>VOUCHER: [[ promo.voucher ]]</li>
                                        <li>|</li>
                                        <li>Deal valid until [[ bizInfo.coupon.until ]]</li>
                                        <figure><img src="[[ promo.image ]]" alt=""></figure>
                                    </ul>
                                    <p class="text-center">*By redeeming you agree to the terms and conditions</p>
                                    <p ng-show="promo.redeemed==true" class="text-center">[[ promo.message ]]</p>
                                    <div>
                                        <ul class="list-inline text-center">
                                            <li><a href="" class="btntoolsmart" ng-click="redeem()">Redeem Now</a></li>
                                            <li><a href="" class="btntoolsmart" ng-click="save()">Use Later</a></li>
                                        </ul>
                                    </div>
                                </header>
                            </div>
                        </div>
                        <div class="panel-smart">
                            <div class="redeempromo" ng-show="promo.redeem==true">
                                <header>
                                    <h1 class="text-center">Thank you for choosing this orange deal!</h1>
                                    <p class="text-center">You can see this promo again after 7 days</p>
                                </header>
                                <figure class="text-center">
                                    <label for="">USED [[ promo.today ]]</label>
                                    <img src="[[ promo.redeemed ]]" alt="">
                                    <p class="text-center">*Track and save deals on your  mobil device. Download the DetourMaps App</p>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="row navbtntool" ng-hide="promo.voucher">
                        <ul class="list-inline text-center">
                            <li><a href="" class="btntoolsmart" ng-click="requestaction()"><img src="{{ STATIC_URL }}images/icon-request.png" alt="Request"> Request</a></li>
                            <li><a href="" class="btntoolsmart" ng-click="saveactions()"><img src="{{ STATIC_URL }}images/icon-save-to.png" alt="Save To"> Save To</a></li>
                            <li><a href="" class="btntoolsmart" ng-click="shareactions()"><img src="{{ STATIC_URL }}images/icon-share.png" alt="Share"> Share</a></li>
                            <li><a href="" class="btntoolsmart" ng-click="redeemactions()"><img src="{{ STATIC_URL }}images/icon-redeem.png" alt="Redeem"> Redeem</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row contentbiz">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3>Share</h3>
            <div class="row">
                <div class="appshare">
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"><a href="" class="sharebiz facebook"><i class="fa fa-facebook"></i> Facebook</a></div>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"><a href="" class="sharebiz twitter"><i class="fa fa-twitter"></i> Twitter</a></div>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"><a href="" class="sharebiz google"><i class="fa fa-google-plus"></i> Google +</a></div>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"><a href="" class="sharebiz pinterest"><i class="fa fa-pinterest"></i> Pinterest</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row contentbiz">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3>Service Tags</h3>
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" ng-repeat="tag in bizInfo.tags">[[ tag ]]</div>
            </div>
        </div>
    </div>
    <div class="row contentbiz">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3>Menu of Services</h3>
            <div id="menulistfake" style="display: none;"></div>
            <div id="rollmenu">
                <div class="scrollmenu">

                </div>
            </div>
            <div id="menulist">

            </div>
        </div>
    </div>
    <div class="row contentbiz">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3>Video</h3>
            <div class="text-center">
                <iframe id="ytVideo" width="480" height="315" ng-src="[[ video ]]" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="row contentbiz">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3>Events</h3>
            <div class="calendarWidget">
                <div class="cal"></div>
            </div>
            <div class="eventsapp" ng-repeat="event in bizInfo.events">
                <div class="row eventcontent">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <div class="eventday"><span>[[ event.date.day ]]</span></div>
                    </div>
                    <div class="col-xs-10 colsm-10 col-md-10 col-lg-10">
                        <h3>[[ event.title ]]</h3>
                        <p>[[ event.date.str ]], [[ event.date.year ]]</p>
                    </div>
                </div>
                <div class="row eventcontent" ng-show="event.description">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

                    </div>
                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                        <p>[[ event.description ]]</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row contentbiz">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3>Directions</h3
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="left-inner-addon ">
                        <i class="fa fa-search"></i>
                        <input type="search" class="form-control" placeholder="Search or enter an address" ng-model="searchaddress" ng-change="directions(searchaddress)">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <input type="text" class="form-control" placeholder="[[ bizInfo.name ]]" value="[[ bizInfo.address ]]" readonly>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div id="directionsPanel">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-repeat="event in bizInfo.events" id="pop[[ event.unique ]]" style="display: none;">
    <div class="eventwrap">
        <figure>
            <img src="[[ ievent.img ]]" alt="" ng-repeat="ievent in event.images" ng-hide="!$first">
        </figure>
        <div class="row">
            <div class="infoevent">
                <h3 class="titleevent">[[ event.title ]]</h3>
                <h4 class="dateevent">[[ event.date.str ]], [[ event.date.year ]]</h4>
                <p class="descevent">[[ event.description ]]</p>
                <div class="row">
                    <ul class="list-inline text-right">
                        <li class="toolevent"><a href="#call"><img src="{{ STATIC_URL }}images/call-event-icon.png" alt="Call">Call</a></li>
                        <li class="toolevent"><a href="#map"><img src="{{ STATIC_URL }}images/map-event-icon.png" alt="View event in Map">View Map</a></li>
                        <li class="toolevent"><a href="#direction"><img src="{{ STATIC_URL }}images/direction-event-icon.png" alt="Directions">Directions</a></li>
                        <li class="toolevent"><a href="#share"><img src="{{ STATIC_URL }}images/share-event-icon.png" alt="Share Event">Share</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="alert" class="modal fade" style="display: none;" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="topBar">
                <img src="{{ STATIC_URL }}community/evolution/images/userWhite.png" width="35" height="38" style="padding-top:7px;">
                <p>DetourMaps Message</p>
            </div>
            <div class="inside">
                <p>[[ alert.message ]]</p>
            </div>
        </div>
    </div>
</div>
