{% extends 'base.html' %}
{% block title %}Marius Test{% endblock %}
{% block content %}

<!--=================== Wrapper ==================-->
	<div id="wrapper">
            <div id="mapView" class="mob-min"><div class="mapPlaceholder"><span class="fa fa-spin fa-spinner"></span> Loading map...</div></div>
            <div id="content" class="mob-max">
                <div class="singleTop">
                    <div id="carouselFull" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselFull" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselFull" data-slide-to="1"></li>
                            <li data-target="#carouselFull" data-slide-to="2"></li>
                            <li data-target="#carouselFull" data-slide-to="3"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="{{ STATIC_URL }}images/local-deals.png" alt="First slide">
                                <div class="container">
                                    <div class="carousel-caption">
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <img src="{{ STATIC_URL }}images/prop/4-2.png" alt="Second slide">
                                <div class="container">
                                    <div class="carousel-caption">
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <img src="{{ STATIC_URL }}images/prop/4-3.png" alt="Third slide">
                                <div class="container">
                                    <div class="carousel-caption">
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <img src="{{ STATIC_URL }}images/prop/4-4.png" alt="Fourth slide">
                                <div class="container">
                                    <div class="carousel-caption">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carouselFull" role="button" data-slide="prev"><span class="fa fa-chevron-left"></span></a>
                        <a class="right carousel-control" href="#carouselFull" role="button" data-slide="next"><span class="fa fa-chevron-right"></span></a>
                    </div>
                    <div class="summary">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="summaryItem">
                                   <div class="row">
                                       <div class="col-xs-12 sm-12 col-md-6 col-lg-6">
                                            <div class="pull-left">Filter your results</div>
                                       </div>
                                       <div class="col-xs-12 sm-12 col-md-6 col-lg-6">
                                           <div class="pull-right">Featured Deal <img src="{{ STATIC_URL }}images/featured-deal-icon.png" alt="Featured Deals"></div>
                                       </div>
                                   </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <label for="" class="app-label-block">Search by Community</label><select name="app-community" id="app-community" class="app-select" ng-change="getCommunity()">
                                                <option>Community</option>
                                                <option value="[[ community.id ]]" ng-repeat="community in communities">[[ community.name ]]</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <label for="" class="app-label-block">Search by Deal</label><select name="app-deal" id="app-deal" class="app-select">
                                                <option value="" ng-click="smart_buys()">Smart Buys</option>
                                                <option value="" ng-click="ten_off()">$10 Off</option>
                                                <option value="" ng-click="ten_visits()">10 Visits</option>
                                                <option value="" ng-click="refer_friends()">5=25 Refer</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div id="deals">
                    <ul>
                        <li class="col-xs-12 col-sm-12 col-md-6 col-lg-6 result" ng-repeat="biz in business | startFrom:currentPage*pageSize | limitTo:pageSize">
                            <section class="app-biz">
                                <a href="[[ biz.url ]]">
                                    <figure>
                                        <img src="/media/[[ biz.image ]]" alt="[[ biz.name ]]"/>
                                    </figure>
                                </a>
                                <section class="app-biz-info">
                                    <h2>[[ biz.name ]]</h2>
                                    <h3><img src="{{ STATIC_URL }}images/marker-icon.png" alt="Marker">[[ biz.address ]]</h3>
                                    <ul class="list-inline app-icon-list">
                                        <li><a href=""><img src="{{ STATIC_URL }}images/love-icon.png" alt="I love It">I love it</a></li>
                                        <li><a href=""><img src="{{ STATIC_URL }}images/share-icon.png" alt="Share">Share</a></li>
                                        <li><a href=""><img src="{{ STATIC_URL }}images/call-icon.png" alt="Call">Call</a></li>
                                        <li><a href=""><img src="{{ STATIC_URL }}images/direction-icon.png" alt="Directions">Directions</a></li>
                                    </ul>
                                </section>
                            </section>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                    <section style="margin: 20px 0 20px 20px;">
                        <button class="btn btn-default" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                            Previous
                        </button>
                        [[currentPage+1]]/[[numberOfPages()]]
                        <button class="btn btn-primary" ng-disabled="currentPage >= business.length/pageSize - 1" ng-click="currentPage=currentPage+1">
                            Next
                        </button>
                    </section>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
<!--=================== Wrapper end ==================-->

{% endblock %}
