{% extends 'base.html' %}
{% block title %}Marius Test{% endblock %}
{% block content %}

<!--=================== Wrapper ==================-->
	<div id="wrapper">
            <div id="mapView" class="mob-min">
                <div class="mapPlaceholder"><span class="fa fa-spin fa-spinner"></span> Loading map...</div>
            </div>
            <div id="content" class="mob-max" ng-view>

            </div>
            <div class="clearfix"></div>
    </div>
<!--=================== Wrapper end ==================-->

{% endblock %}query
