{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>

		<!--=============== basic  ===============-->

		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>
			DetourMaps - {% block title %}{% endblock %}
		</title>
		
		{% block description %}
	        <meta name="description=" content="DetourMaps brings you closer to your neighborhood with the latest business promotions, events, and savings. Support your community while staying connected">
	    {% endblock %}

		{% block keywords %}
	        <meta name="keywords" content="Home Map,detour, detourmaps, shop local, maps, map, explore your community, neighborhood, select your community, Berwyn, Cicero, archer heights, west lawn"/>
	    {% endblock %}

	    {% block dynamics %}
	        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	        <meta name="author" content="www.detourmaps.com">
	        <meta name="owner" content="Entire Marketing Group LLC">
	        <meta name="robots" content="index, follow">
	    {% endblock %}

		<!--=============== favicons ===============-->
		
		<link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico">

		<!--=============== css  ===============-->

		<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
        <link href="{% static 'css/simple-line-icons.css' %}" rel="stylesheet">
        <link href="{% static 'css/jquery-ui.css' %}" rel="stylesheet">
        <link href="{% static 'css/datepicker.css' %}" rel="stylesheet">
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'css/app.css' %}" rel="stylesheet">

			<!--=============== ie styles  ===============-->
				<!--[if lt IE 9]>
	          		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	          		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	        	<![endif]-->

		{% block css %}
		{% endblock %}

		<!--=============== fonts  ===============-->

	    <link href='http://fonts.googleapis.com/css?family=Oswald:400,700|Open+Sans:400,300' rel='stylesheet' type='text/css'>
		
		{% block font %}
		{% endblock %}
	
	</head>
	<body class="notransition" ng-app="catApp" ng-controller="bizCtrl" id="bodyApp">
		
	<!--============ Header ============-->

        <div id="header">
            <div class="logo">
                <a href="index.html">
                    <span class="marker"><img src="{{ STATIC_URL }}images/nuevo-isotipo.png" alt="DetourMaps"></span>
                    <!-- No es necesario este texto <span class="logoText">DetourMaps</span>-->
                </a>
            </div>
            <a href="#" class="navHandler"><span class="fa fa-bars"></span></a>
            <div class="search">
                <span class="searchIcon icon-magnifier"></span>
                <input type="text" placeholder="[[ placeholder_nosearch ]]" ng-model="search" ng-change="searchtext(search)">
                <!--<datalist id="_business"> #TODO: implementar lista de opciones
                    <select style="display: none;" id="_biz" ng-model="search">
                        <option ng-repeat="biz in business track by $id" value="[[ biz.name ]]">[[ biz.name ]]</option>
                    </select>
                </datalist>-->
            </div>
            <div class="headerUserWraper">
                <a href="#" class="userHandler dropdown-toggle" data-toggle="dropdown"><span class="icon-user"></span><span class="counter">5</span></a>
                <a href="#" class="headerUser dropdown-toggle" data-toggle="dropdown">
                    <img class="avatar headerAvatar pull-left" src="{{ STATIC_URL }}images/avatar-1.png" alt="avatar">
                    <div class="userTop pull-left">
                        <span class="headerUserName">John Smith</span> <span class="fa fa-angle-down"></span>
                    </div>
                    <div class="clearfix"></div>
                </a>
                <div class="dropdown-menu pull-right userMenu" role="menu">
                    <div class="mobAvatar">
                        <img class="avatar mobAvatarImg" src="{{ STATIC_URL }}images/avatar-1.png" alt="avatar">
                        <div class="mobAvatarName">John Smith</div>
                    </div>
                    <ul>
                        <li><a href="#"><span class="icon-settings"></span>Settings</a></li>
                        <li><a href="profile.html"><span class="icon-user"></span>Profile</a></li>
                        <li><a href="#"><span class="icon-bell"></span>Notifications <span class="badge pull-right bg-red">5</span></a></li>
                        <li class="divider"></li>
                        <li><a href="#"><span class="icon-power"></span>Logout</a></li>
                    </ul>
                </div>
            </div>
            <div class="headerNotifyWraper">
                <a href="#" class="headerNotify dropdown-toggle" data-toggle="dropdown">
                    <span class="notifyIcon icon-bell"></span>
                    <span class="counter">5</span>
                </a>
                <div class="dropdown-menu pull-right notifyMenu" role="menu">
                    <div class="notifyHeader">
                        <span>Notifications</span>
                        <a href="#" class="notifySettings icon-settings"></a>
                        <div class="clearfix"></div>
                    </div>
                    <ul class="notifyList">
                        <li>
                            <a href="#">
                                <img class="avatar pull-left" src="{{ STATIC_URL }}images/avatar-1.png" alt="avatar">
                                <div class="pulse border-grey"></div>
                                <div class="notify pull-left">
                                    <div class="notifyName">Sed ut perspiciatis unde</div>
                                    <div class="notifyTime">5 minutes ago</div>
                                </div>
                                <div class="clearfix"></div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="notifyRound notifyRound-red fa fa-envelope-o"></div>
                                <div class="pulse border-red"></div>
                                <div class="notify pull-left">
                                    <div class="notifyName">Lorem Ipsum is simply dummy text</div>
                                    <div class="notifyTime">20 minutes ago</div>
                                </div>
                                <div class="clearfix"></div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="notifyRound notifyRound-yellow fa fa-heart-o"></div>
                                <div class="pulse border-yellow"></div>
                                <div class="notify pull-left">
                                    <div class="notifyName">It is a long established fact</div>
                                    <div class="notifyTime">2 hours ago</div>
                                </div>
                                <div class="clearfix"></div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="notifyRound notifyRound-magenta fa fa-paper-plane-o"></div>
                                <div class="pulse border-magenta"></div>
                                <div class="notify pull-left">
                                    <div class="notifyName">There are many variations</div>
                                    <div class="notifyTime">1 day ago</div>
                                </div>
                                <div class="clearfix"></div>
                            </a>
                        </li>
                    </ul>
                    <a href="#" class="notifyAll">See All</a>
                </div>
            </div>
            <a href="#" class="mapHandler"><span class="icon-map"></span></a>
            <div class="clearfix"></div>
        </div>

	<!--============ Header end ============-->

    <!--============ Left Side Navigation ============-->

        <div id="leftSide">
            <nav class="leftNav scrollable">
                <div class="search">
                    <span class="searchIcon icon-magnifier"></span>
                    <input type="text" placeholder="[[ placeholder_nosearch ]]" ng-model="search" ng-change="searchtext(search)">
                    <div class="clearfix"></div>
                </div>
                <ul>
                    <li><a href="explore.html"><span class="navIcon"><img src="{{ STATIC_URL }}images/neighborhood-icon.png" alt="Neighborhoods"></span><span class="navLabel">Neighborhoods</span></a></li>
                    <li><a href="single.html"><span class="navIcon"><img src="{{ STATIC_URL }}images/orange-deals-icon.png" alt="Orange Deals"></span><span class="navLabel">Orange Deals</span></a></li>
                    <li><a href="add.html"><span class="navIcon"><img src="{{ STATIC_URL }}images/how-it-works-icon.png" alt="How It Works"></span><span class="navLabel">How it Works</span></a></li>
                    <li>
                        <a href="#"><span class="navIcon"><img src="{{ STATIC_URL }}images/events-icon.png" alt="Events"></span><span class="navLabel">Events</span></a>
                    </li>
                    <li>
                        <a href="#"><span class="navIcon"><img src="{{ STATIC_URL }}images/blog-icon.png" alt="Blog"></span><span class="navLabel">Blog</span></a>
                    </li>
                    <li>
                        <a href="#"><span class="navIcon"><img src="{{ STATIC_URL }}images/about-us-icon.png" alt="About Us"></span><span class="navLabel">About Us</span></a>
                    </li>
                </ul>
            </nav>
            <div class="leftUserWraper dropup">
                <a href="#" class="avatarAction dropdown-toggle" data-toggle="dropdown">
                    <img class="avatar" src="{{ STATIC_URL }}images/avatar-1.png" alt="avatar"><span class="counter">5</span>
                    <div class="userBottom pull-left">
                        <span class="bottomUserName">John Smith</span> <span class="fa fa-angle-up pull-right arrowUp"></span>
                    </div>
                    <div class="clearfix"></div>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#"><span class="icon-settings"></span>Settings</a></li>
                    <li><a href="profile.html"><span class="icon-user"></span>Profile</a></li>
                    <li><a href="#"><span class="icon-bell"></span>Notifications <span class="badge pull-right bg-red">5</span></a></li>
                    <li class="divider"></li>
                    <li><a href="#"><span class="icon-power"></span>Logout</a></li>
                </ul>
            </div>
        </div>
        <div class="closeLeftSide"></div>

    <!--============ Left Side Navigation end ============-->

		{% block content %}{% endblock %}

		<div class="modal fade" id="contactAgent" role="dialog" aria-labelledby="contactLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="contactLabel">Contact Agent</h4>
                    </div>
                    <div class="modal-body">
                        <form class="contactForm">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 cfItem">
                                    <input type="text" placeholder="Name" class="form-control">
                                 </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 cfItem">
                                    <input type="text" placeholder="Email" class="form-control">
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cfItem">
                                    <input type="text" placeholder="Subject" class="form-control">
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cfItem">
                                    <textarea placeholder="Message" rows="3" class="form-control"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <a href="#" data-dismiss="modal" class="btn btn-round btn-o btn-gray">Close</a>
                        <a href="#" class="btn btn-round btn-green">Send message</a>
                    </div>
                </div>
            </div>
        </div>	
	<!--=============== javascript ===============-->

		<script src="{{ STATIC_URL }}js/jquery-2.1.1.min.js"></script>
        <script src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>
        <script src="{{ STATIC_URL }}js/jquery-ui-touch-punch.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.placeholder.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.touchSwipe.min.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.slimscroll.min.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.visible.js"></script>
        <script src="http://maps.googleapis.com/maps/api/js?sensor=true&amp;libraries=geometry&amp;libraries=places" type="text/javascript"></script>
        <script src="{{ STATIC_URL }}js/infobox.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.tagsinput.min.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap-datepicker.js"></script>
        <script src="{{ STATIC_URL }}community/angular-1.2.14/angular.js" type="text/javascript"></script>
        <script src="{{ STATIC_URL }}community/angular-1.2.14/angular-route.js" type="text/javascript"></script>    
        <script src="{{ STATIC_URL }}community/js/underscore.js" type="text/javascript"></script>
        <script src="{{ STATIC_URL }}community/apps/controllers_deals.js" type="text/javascript"></script>        
        <script type="text/javascript">
            myApp.config(function($interpolateProvider) {
              $interpolateProvider.startSymbol('[[');
              $interpolateProvider.endSymbol(']]');
            });            
        </script>                
        <!--<script src="{{ STATIC_URL }}js/app.js" type="text/javascript"></script>-->
		
		{% block script %}
		{% endblock %}
	</body>
</html>
